[2014-12-24 21:38] YarekTyshchenko opened #123 "Build for "micro" board fails"
Trying to build the blink example for Micro board, Arduino Micro (atmega32u4) fails to compile.
Its trying to include a header file for the pins from a folder that wouldn't exist there.
I tried to debug it a little myself, i've put in leonardo's pin definitions into the file that its looking for but it spat out some more errors: http://pastie.org/pastes/9797760/text?key=yntqzqdbbyytpepq2gdrxg

[co

[2016-06-11 21:32] bendo opened #2 "Circuit Playground from Adafruit"
Hi, I try to use new board from Adafruit, Circuit Playground. It is based on Flora board. So in Platformio IDE I am creating project with flora board. Everything looks ok but program runs slowly. Because of this I've tried to create a new board (same as flora, just I changed name and speed to 9600.
But in IDE, when I try to upload there is an error like:
[code]

Can you please help me. I try platf

[2016-06-11 21:40] ivankravets commented on #2
1. You don't need to create a new board. Just use [upload_speed](http://docs.platformio.org/en/latest/projectconf.html#upload-speed).
2. This repo is intended for PlatformIO 3.0 development platform
3. Do you use a development version of PlatformIO 2.0? You need to use `hwids` instead `hwid` in board JSON manifest.

[2016-06-11 22:11] bendo commented on #2
Ah, sorry. I saw repo pla, tform-atmelavr so I thought that here are all current boards. :-)
Hm, so my platformio.ini looks like this:
[code]

I've tried upload_speed 9600 and 57600 but in both cases LED diodes blink really slow. Do you think issue is in the upload_speed? If yes, can you suggest some another speed which I can try. Btw: in demo.ini they opening Serial at 9600 but this speed also di

[2016-06-12 15:05] ivankravets commented on #2
Please don't mix UPLOAD_SERIAL_SPEED and MONITOR_SERIAL_SPEED. You don't need to change upload speed.

Do you have a problem when using Arduino IDE?

[2016-06-12 21:07] bendo commented on #2
Hm, so this playground circuit board has leds on it. The demo program, turns on leds one by one every second. When I upload program via Arduino IDE, it works as expected. If I upload same program with PlatformIO IDE, it turns on leds one by one but not every second but every cca 50 seconds.

[2016-06-23 17:38] ivankravets commented on #2
Did you resolve this issue?

[2016-07-14 20:00] artur-scholz opened #3 "Flash is not erased when uploading hexfile"
Using the Platformio IDE integrated in Atom, when performing "Upload" the command line output shows that the "-D" flags is used with the avrdude tool.

This disables auto erase for flash. However, it is essential that the flash is erased before uploading new code into it. I am using a bare Atmega48 (no Arduino). I did not find a way to remove this flag anywhere in the platformio config files..

[2016-07-14 20:02] ivankravets commented on #3
Use `program` instead `upload`. See http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

`program` is bare target and you can customize it manually using `upload_flags`.

[2016-07-14 21:03] artur-scholz commented on #3
Great! Is it possible to have this integrated in the left toolbar? Otherwise I need to select "PlatformIO: Upload using programmer" either via left bottom option or via F7.

[2016-07-14 21:07] ivankravets commented on #3
Em.... Very interesting question 👍 There are a lot of solutions to do it 😄

How about to create [extra_script](http://docs.platformio.org/en/latest/projectconf.html#extra-script) and override with custom upload command?

See my example here https://github.com/platformio/platformio/issues/247#issuecomment-118169728

[2016-07-14 21:16] artur-scholz commented on #3
Thanks for the fast reply. Honestly I want to avoid tinkering with scripts. So I will use the available option then.

[2016-07-14 21:16] #3 closed

[2016-07-14 21:18] ivankravets commented on #3
Another option is to use [targets](http://docs.platformio.org/en/latest/projectconf.html#targets). In this case, "Build" button will have "program" behaviour.

For example,
[code]

[2016-08-03 19:54] #2 closed

[2016-08-12 17:52] kickscondor opened #5 "usbdrvasm.asm issue on Digispark"
Hey there - thanks for the work on AVRs for PlatformIO. It's great stuff! My issue is fortunately very minor - but seems to be buried in a tarball somewhere.

After a fresh install of PlatformIO, I run into an issue building projects that use DigisparkCDC. The error is:

[code]

I experience this on OSX and Linux alike. I can circumvent this issue like so:

[code]

That's all it takes. Many thanks

[2016-08-18 17:21] thozza opened #6 "avrdude binary downloaded by platformio relies on specific libncurses.so version"
### Configuration

**Operating system**:
Fedora 24

**PlatformIO Version** (`platformio --version`):
PlatformIO, version 2.11.2
### Description of problem

It is not possible to upload compiled Arduino sketch to the board, because avrdude binary downloaded by platformio relies on specific libncurses.so version.
#### Steps to Reproduce
1. compile any Arduino sketch on Fedora 24 and try to upload it

[2016-08-19 07:34] zgoda opened #7 "Update to Atmel AVR toolchain"
Arduino 1.6.10 brings some build optimizations in toolchain resulting in smaller firmware with Atmel release 3.5.3. There was update to avrdude in this release but later in 1.6.11 avrdude has been reverted to 6.0.1 because of regressions.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37086568-update-to-atmel-avr-toolchain?utm_campa

[2016-09-02 07:42] valeros commented on #5
Sorry for the late reply. `framework-arduinoavr` package has been updated.
Please run `platformio update`

[2016-09-02 07:42] #5 closed

[2016-09-08 16:21] ivankravets commented on #7
Related topic https://community.platformio.org/t/support-for-atmega328pb/314

[2016-09-09 21:38] kickscondor commented on #5
Hey, looks good. Thanks a lot!

[2016-09-10 12:10] KarateBrot opened #10 "avrdude can't handle file paths with spaces in it anymore"
[09/10/16 14:02:38] Processing uno (platform: atmelavr, board: uno, framework: arduino)

Verbose mode can be enabled via `-v, --verbose` option
Collected 34 compatible libraries
Looking for dependencies...
Library Dependency Graph
|-- <ClickEncoder>

|-- <Adafruit MCP4725> v1.0.2
|   |-- <Wire> v1.0
|-- <Wire> v1.0
|-- <Adafruit SSD1306> v1.1.0
|   |-- <Adafruit GFX Library> v1.1.5
|   |-- <SPI> v

[2016-09-10 12:11] ivankravets commented on #10
What is your username in system?

[2016-09-10 12:12] KarateBrot commented on #10
Jan Post

The file path stops after "Jan" right before the space

[2016-09-10 12:25] ivankravets commented on #10
Please open PlatformIO IDE Terminal and run `pio run -v`. Share here results. Let' fix it. Thanks.

[2016-09-10 12:29] KarateBrot commented on #10
[09/10/16 14:27:09] Processing uno (platform: atmelavr, board: uno, framework: arduino)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Collected 34 compatible libraries
Looking for dependencies...
Library Dependency Graph

|-- <Adafr

[2016-09-10 12:34] ivankravets commented on #10
Sorry, please run `pio run -t upload`

[2016-09-10 12:37] KarateBrot commented on #10
[09/10/16 14:36:52] Processing uno (platform: atmelavr, board: uno, framework: arduino)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Verbose mode can be enabled via `-v, --verbose` option
Collected 34 compatible libraries

Looking

[2016-09-10 12:38] ivankravets commented on #10
Eh :( Sorry, with verbose, `pio run -t upload -v`. Need to see full command.

[2016-09-10 12:40] KarateBrot commented on #10
Sorry, my bad...

[09/10/16 14:40:28] Processing uno (platform: atmelavr, board: uno, framework: arduino)
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Collected 34 compatible libraries
Looking for dependencies...
Library Dependency

[2016-09-10 12:42] ivankravets commented on #10
Thanks, looks like a bug. I'll try to reproduce it in my virtual machine

[2016-09-10 16:12] ivankravets commented on #10
Fixed in https://github.com/platformio/platform-atmelavr/commit/59b6ab1691821f4679ab4625c72a7ec01375830d

Could you test it?

1. Open PlatformIO IDE Terminal
2. Uninstall current version of development platform via
[code]
3. Install fixed development version:
[code]

If it works, I'll make release.

[2016-09-10 17:23] KarateBrot commented on #10
It works again!
I pasted the results of the terminal message in here again, just in case you want to have a look:

- - - - -

[09/10/16 19:19:10] Processing uno (platform: atmelavr, board: uno, framework: arduino)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2016-09-10 20:47] ivankravets commented on #10
Thanks! I've just released a new version of Atmel AVR dev platform.

Run in IDE `Menu: PlatformIO > Update plaforms/packages/libs`. The platformio should be updated to 1.0.2

Thanks for the report!

[2016-09-10 20:47] #10 closed

[2016-09-12 09:56] igsol opened #11 "Build errors with digispark board"
# Configuration
OS: Ubuntu 16.04 x64
Platformio version: 3.0.1

# Bug description
The brand new project, simplest Blink example. The 'platformio run' command leads error and warnings.

# Steps to reproduce

1. Create new directory (e.g. delme02) and cd into it.
2. Then execute the commands like in following session:
[code]
# Observed results
Error and BIN redefinition.
# Expected results
No errors

[2016-09-27 05:35] syddo opened #12 "add support for stk-600 and new tiny and mega devices"
Hi,

i'd like to add support for the Atmel STK-600 and the new ATMega324PB, ATtiny817 devices also.
how do i add a framework for the native avr-gcc?

[2016-09-27 15:28] ivankravets commented on #12
Do we need special toolchain for these boards?

[2016-09-29 14:44] zgoda commented on #7
1.6.12 finally updates avrdude to 6.3.

[2016-09-30 23:37] Flummy opened #13 "env:digispark-tiny, env:attiny45: uploading does not do anything"
PlatformIO, version 3.1.0 on Ubuntu 16.04.1 x86_64

Using a breadboarded ATtiny45, "Blink" example sketch to be programmed with a mySmartUSBlight on /dev/mysmartusb1 (symlink to /dev/ttyUSB1) and [platformio.ini.txt](https://github.com/platformio/platform-atmelavr/files/503992/platformio.ini.txt)

The Blink sketch is built successfully, but the upload using programmer claims "=== [SUCCESS]" withou

[2016-10-05 16:05] NormanDunbar opened #14 "Verify upload to AtTiny85 fails."
ORIGINALLY RAISED WITH PLATFORMIO. ADVISED TO TAKE IT HERE.
### Configuration

**Operating system**: Linux Mint 18, 64 bit.

**PlatformIO Version**: IDE=1.6.0, CLI=3.1.0
### Description of problem

After upgrading to latest PlatformIO, all my AtTiny85 scripts fail to verify. Each is Arduino compatible, and work fine on the Arduino IDE.

Please refer back to https://github.com/platformio/platformio

[2016-10-06 08:57] syddo commented on #12
No. But the current avr-gcc needs to be updated to the latest release from Atmel.

[2016-10-07 13:26] igsol commented on #11
Any suggestions how to overcome the aforementioned compilation error?

[2016-10-09 20:56] ivankravets commented on #12
Ok, please help us.

The AVR toolchain is located in `~/.platformio/toolchain-atmelavr`. You can replace it with own version. Please keep `package.json` file without changes in that place. Otherwise, PlatformIO Package Manager will not see this package.

If it works, we will update current toolchain with your version. See https://bintray.com/platformio/dl-packages/toolchain-atmelavr#files

[2016-10-14 16:06] Rodmg opened #15 "Contributing a board with custom pins_arduino.h for Arduino Framework"
Hello, I would like to contribute the support for a board called [Altair](http://www.aquila.io/en), I successfully got it working by making a custom board json file and putting it in ~/.platformio/boards and manually copying the custom pins_arduino.h to ~/.platformio/packages/framework-arduinoavr/variants/altair/.

Here are the files and instructions to manually install it: https://github.com/Rodm

[2016-10-19 22:47] igsol commented on #11
LED_BUILTIN isn't applicable in case of digispark-tiny => the bug isn't valid.

[2016-10-19 22:47] #11 closed

[2016-10-20 20:23] ivankravets commented on #15
The repo is created. Please make PR to it.

https://github.com/platformio/platformio-pkg-framework-arduinoavr

[2016-10-30 03:10] stonehippo commented on #14
I can confirm that I am having the same issu e with multiple ATTiny85s. I've tried using both a Sparkfun Tiny USB programmer and an Adafruit Trinket 3v. Both fail to verify after upload. Can upload fine from Arduino IDE.

[2016-10-30 19:44] ekarlso commented on #7
Is there any news on why this havent been done ? I want to use the Atmega328PB which alledgedly is supported by updating this.

[2016-10-30 21:24] ivankravets commented on #7
Could someone help us with new packages? We will replace old that are located here
https://bintray.com/platformio/dl-packages/toolchain-atmelavr#files

[2016-10-30 21:51] ekarlso commented on #7
What do you mean by help you ? Download the packages from Atmel for you ?

[2016-10-31 12:39] ivankravets commented on #7
Good joke!

-------

I mean that multiple developers migrate from Arduino IDE to PlatformIO IDE. We should be confident that new users will not have problems with projects that work with Arduino IDE and don't work with PlatformIO IDE because we use different toolchains, etc.

The question: does Arduino IDE uses Atmel AVR 3.5.3 toolchain?

[2016-10-31 13:20] ekarlso commented on #7
Q then, is it possible to maybe define a custom toolchain for a particulat project or similar since I have the atmega328 ?

[2016-10-31 13:24] ivankravets commented on #7
Yes, it is. You can clone existing Atmel Avr development platform and specify own toolchain version.

In any case, I am ready to update generic GCC-AVR toolchain but need to be confident that we will not break thousands of PlatformIO projects over the world.

Could someone check this information? Which version of gcc-avr is used in Arduino IDE? Then, we will decide together here which we should u

[2016-10-31 13:26] ekarlso commented on #7
The newest Arduino uses 4.9.2
ekarlso@ekarlso-tpad:~/Downloads/arduino-1.6.12$ ./hardware/tools/avr/bin/avr-g++
avr-g++: fatal error: no input files
compilation terminated.
ekarlso@ekarlso-tpad:~/Downloads/arduino-1.6.12$ ./hardware/tools/avr/bin/avr-g++ -v
Using built-in specs.
Reading specs from /home/ekarlso/Downloads/arduino-1.6.12/hardware/tools/avr/bin/../lib/gcc/avr/4.9.2/device-specs/specs

[2016-10-31 13:27] ivankravets commented on #7
@ekarlso thanks! Is this toolchain the same that we can downloads from Atmel site?

[2016-10-31 13:30] ekarlso commented on #7
That is the bundled version of Arduino 1.6.12.

This is the avr toolchain 3.5.4
Using built-in specs.
Reading specs from /home/ekarlso/Downloads/avr8-gnu-toolchain-linux_x86_64/bin/../lib/gcc/avr/4.9.2/device-specs/specs-avr2
COLLECT_GCC=./bin/avr-g++
COLLECT_LTO_WRAPPER=/home/ekarlso/Downloads/avr8-gnu-toolchain-linux_x86_64/bin/../libexec/gcc/avr/4.9.2/lto-wrapper
Target: avr
Configured with: /h

[2016-10-31 13:34] ekarlso commented on #7
[Mon Oct 31 14:31:34 2016] Processing controller (upload_protocol: usbasp, framework: arduino, lib_install: 13,135, upload_flags: -Pusb -B5, platform: atmelavr, board: gatekeeper-controller)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2016-10-31 13:37] ivankravets commented on #7
What is it? New toolchain?

[2016-10-31 13:38] ekarlso commented on #7
That is the Atmel 3.5.4 toolchain (I just swapped toolchain-atmelavr with this one)

[2016-10-31 13:40] ivankravets commented on #7
Could you try Arduino IDE's toolchain?

Also, check that new toolchain structure is the same as previous and all symbolic links are resolved.

[2016-10-31 13:56] ekarlso commented on #7
So I did the following:
cp -R /home/ekarlso/arduino-1.6.12/hardware/arduino/avr/ framework-arduinoavr
cp -R /home/ekarlso/arduino-1.6.12/hardware/tools/avr/ toolchain-atmelavr

copied package.json from the old versions to the "copy" and then tried to run "pio run" in my project but it fails giving
*** Multiple ways to build the same target were specified for: /home/ekarlso/projects/gatekeeper/gate

[2016-10-31 13:59] ivankravets commented on #7
Stop... We talk here about toolchain but not about new Arduino Framework.

Need to check Arduino IDE's toolchain-atmelavr

[2016-10-31 14:00] ivankravets commented on #7
Please sorry, I see it.

Does it work with  Atmega328PB ?

[2016-10-31 14:24] ekarlso commented on #7
You need to add support for it by the looks by copying the files in before pio run is done.

I have updated the project so you can see what is being done
https://gitlab.com/creator-makerspace/gatekeeper-rs485-controller/blob/develop/bootstrap.sh

basically it's a very hacky solution atm to get it going.
1. "pio run" to get the toolchain etc installed
2. replace the packages/toolchain-avr with the

[2016-10-31 22:30] ekarlso commented on #7
Any idea @ivankravets ?

[2016-10-31 22:31] ivankravets commented on #7
I'll update all toolchains and add support for atmega328pb in PlatformIO 3.2.

[2016-10-31 22:32] ivankravets commented on #7
The `boards_dir` is already implemented https://github.com/platformio/platformio/commit/7b4d94ccfb7c5ddf55d87338a673d226265a2a78

[2016-10-31 22:34] ekarlso commented on #7
If you want me to test dev version I can do that once you update ;)

[2016-10-31 22:38] ivankravets commented on #7
Sure, I'll ask here. I'm working on the first public beta of PlatformIO 3.2 and after it will take a look at the new packages, boards, etc.

Would you like to try out PIO Remote? http://docs.platformio.org/en/latest/plus/pio-remote.html

Would be thankful for any feedback!

[2016-11-16 14:40] #15 closed

[2016-11-18 04:51] StevenChristy commented on #14
Same issue. Using PlatformIO in Atom all 3 of my attiny85-20pu chips could be programmed once using a brand new Sparkfun Tiny AVR Programmer. Any subsequent changes to the program are made, I upload and the verification fails. I found that if I used the Arduino IDE function "Burn bootloader" on the chip then it could be reprogrammed again, exactly once. No verify failure is returned if you keep up

[2016-11-18 05:04] StevenChristy commented on #14
Nevermind, I found the resolution to my problem. I need to "program" instead of "upload" - http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2016-11-18 06:02] StevenChristy commented on #14
Just thought I'd share some more info on this. I found it annoying to use "program" every time as I am already used to hitting the upload button in the IDE. A simple fix for this was to tell avrdude to erase the flash before writing by adding the -e option in the upload_flags variable in the platformio.ini file. So the basic config that solves the problem is:

[code]

[2016-11-18 10:17] ivankravets commented on #14
@NormanDunbar, @stonehippo could you confirm that solutions also work for you?

* https://github.com/platformio/platform-atmelavr/issues/14#issuecomment-261449607
* https://github.com/platformio/platform-atmelavr/issues/14#issuecomment-261455680

[2016-11-18 11:01] ivankravets commented on #7
Avrdude has been updated to 6.3. Also , added support for ATmega328PB

[2016-11-18 15:32] #13 closed

[2016-11-18 17:23] NormanDunbar commented on #14
Evening All,

I can confirm that changing from upload to program had no effect - I'd already tried that way back at the start of this problem.

I can also confirm that adding the "upload_flags = -e" option does work perfectly. I notice that the Arduino software does this anyway, so there's no problem in running an erase first.

Many thanks to all for this workaround. I appreciate the hard work, ti

[2016-11-19 03:49] stonehippo commented on #14
@ivankravets Yes, using `upload_flags = -e` resolves the issue. I'm able to properly upload to via the AVR Tiny USB Programmer and to an Adafruit Trinket 3V with that flag in place in.

[2016-11-19 14:41] ivankravets commented on #7
@ekarlso Could you help us to resolve this issue? https://ci.appveyor.com/project/ivankravets/platform-atmelavr/build/1.0.101/job/8m3his6x75rs9bo8#L2284

I patched all toolchains with https://github.com/watterott/ATmega328PB-Testing but it doesn't work with Windows toolchain.

[2016-11-21 22:59] bin101 opened #20 "Hardware debugging with simulavr and avr-gdb on eclipse"
Is there a way to use the avr-gcc build attribute -glevel with different level and switch off gcc size optimation for debugging purpose?

I followed this guide: http://www.ikravets.com/computer-life/programming/2014/06/20/building-and-debugging-atmel-avr-arduino-based-project-using-eclipse-ideplatformio as far as I can with eclipse-cdt neon but avr-gdb throws this errors:

No source file named /ho

[2016-11-27 22:34] ivankravets opened #21 "Add support for AVR XMEGA"
# Moved from https://github.com/platformio/platformio/issues/481

/cc @knutel, @aethaniel

----------

It would be great to have support for AVR XMEGA, too. There already is a project to make Arduino support at [https://github.com/Xmegaduino/Xmegaduino], so maybe PlatformIO support is not that difficult. I might take a stab at it myself if I get the time.

[2016-11-28 00:51] HeathPetersen opened #22 "It appears that simulavr and avr-gdb are missing from toolchain-atmelavr-linux_x86_64. I believe this is a repeat of bug report platformio-core #334. I am new to platformio but am pretty sure this is a bug and not operator error."

[2016-12-04 22:42] ivankravets opened #23 "Programming Arduino Yun over wifi?"
# Moved from https://github.com/platformio/platformio-core/issues/452

/cc @grzegorzshub, @AKBON, @yveshanoulle

-----------------

Is it possible to program Yun over wifi please?

[2016-12-04 22:58] yveshanoulle commented on #23
what does this move mean? Is this being worked on?

[2016-12-04 23:01] ivankravets commented on #23
@yveshanoulle we cleanup PlatformIO Core repository from non-related issues. According this issue it will be automatically resolved with [PIO Remote](http://docs.platformio.org/en/latest/plus/pio-remote.html). PIO Remote allows to work with hardware from anywhere in the world. No need to open SSH or etc.

[2016-12-04 23:51] yveshanoulle commented on #23
Not really a solution for me. My devices are running on a private network.
I don't want them to connect to the internet.

[2016-12-05 00:05] yveshanoulle commented on #23
+ I don't see arduino listed as supported platform.
At this moment I have already to rewrite some of my code to make sure I can load everything on my arduino yun's as they have limited capacity. I assume that adding PIO Remote would make things worse (and a connection to the internet, will make them more vulnarable...
so I hope you really do support the same functionality that the default arduino

[2016-12-05 17:24] ivankravets commented on #23
@yveshanoulle PlatformIO Core doesn't have any relations to Arduino or other vendors. It is multi-platform, cross-platform and independent ecosystem. The other vendor related things are implemented via "development platform". This is a place where we have discussion now.

PlatformIO is free and open source ecossytem licensed under Apache 2.0. Anyone can improve this Atmel AVR development platform

[2016-12-05 19:02] yveshanoulle commented on #23
I understand it's unreleated to any vendor or platform, yet it's also "marketed" as a platform where we can program for arduino . and yes it's a much better editor then the basic arduino editor. I'm happy with that, only you don't offer the features that are needed to work in a production environment with the arduino's. Connecting with usb is not practical in any other setting then a testing or a

[2016-12-05 19:14] ivankravets commented on #23
1. I agree that PIO Remote != the same solution for this issue
2. I don't force people to work in an environment with internet or even to use PlatformIO
3. I proposed PIO Remote because it is already implemented and is ready for using.
4. PIO Remote is safe and works via SSL in Pro plan.

Thanks a lot that you use PlatformIO. We would be thankful if you support us with https://pioplus.com

P.S: Do

[2016-12-05 19:26] yveshanoulle commented on #23
2) As far as I understand PIO remote, the devices have to be connected to the internet. so yes that is forcing me when I want to work with your program to work in a way I don't want to.
3) As I said already multiple times, it's not possible as my arduino does not have enough memory as we speak.
4) I never said it was unsafe. I don't know what this is an answer to.
5) no, I want to use PIO to confi

[2016-12-05 19:31] ivankravets commented on #23
Where did you buy these boards?

[2016-12-05 19:41] yveshanoulle commented on #23
at a local shop.
Why?

[2016-12-05 19:42] ivankravets commented on #23
I mean are these boards from Arduino CC or ORG? I'll contact with vendor and ask to resovle this issue. Thanks.

[2016-12-05 20:01] yveshanoulle commented on #23
thanks http://www.arduino.org/ products/arduino-yun

[2016-12-05 22:00] ivankravets commented on #6
Fixed

[2016-12-05 22:00] #6 closed

[2016-12-06 11:45] ivankravets commented on #23
@artynet please take a look at this issue. You need to handle `upload_port`, if user specifies it to IP/mDNS , need to use OTA uploading. All things should be done in this file https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py

[2016-12-07 20:33] NormanDunbar commented on #14
Evening All,

I'm hpy that the workaround works and has resolved my problem. If the development team are happy too, we can close this issue.

Happy Christmas one and all, which applies to whichever religious, or otherwise, festival you celebrate at this time of year. ;-)

Cheers,
Norm.

[2016-12-07 22:48] #14 closed

[2016-12-07 22:51] ivankravets commented on #14
This is a bug. I've just fixed it. Please remove `upload_flags = -e` line from your config and run `pio update` command. All should work.

[2016-12-07 22:53] ivankravets commented on #14
@NormanDunbar

Thanks! Merry Christmas! 🎄

[2016-12-08 04:52] stonehippo commented on #14
@ivankravets look like it's working well. After `pio update`, I was able to program the ATTiny85 multiple times via the Tiny AVR Programmer, using both `upload` and `program` targets, with or without `upload_protocol = usbtiny` specified in `platformio.ini`. (At least I was after I remembered that it is flaky with my USB hub and plugged directly into my Mac!)

[2016-12-10 15:24] joe31093 opened #24 "Trinket 5V 8MHz timing issue"
The timing on the Trinket seems to be off after downloading the code to the Trinket.  The Arduino build seems to be fine.  Here is the build output from the Arduino.  Please reference https://community.platformio.org/t/trinket-5v-8mhz-timing-issues/1149/6.

/Applications/Arduino.app/Contents/Java/arduino-builder -dump-prefs -logger=machine -hardware /Applications/Arduino.app/Contents/Java/hardware

[2016-12-10 16:36] ivankravets commented on #24
1. You need to use `board = trinket3`
2. Try to replace variants in `~/.platformio/packages/framework-arduinoavr/variants` with [this](https://adafruit.github.io/arduino-board-index/boards/adafruit-avr-1.4.9.tar.bz2).

Does it work?

[2016-12-11 00:12] joe31093 commented on #24
Changed the board type to trinket3 - no change in timing.
I replaced the variants with the link you provided and it did not make any change.

I will keep digging and see if I can see something.

[2016-12-11 00:17] ivankravets commented on #24
You can run PlatformIO in verbose mode via `pio run -v`. Try to compare both outputs.

[2016-12-22 15:56] maxpowel opened #26 "Usbasp upload parameters may be wrong"
Hello! I cant upload an sketch using this configuration:

[code]
I got the message "0x04 != 0x0c" when it verifies the flash.

If I upload the firmware manually with this command everything is fine:
[code]
I dont really know how platformio manages the uploads, I just detected this and notify you. I can only provide the command above that works fine.
My platformio installation just updated yesterda

[2017-01-23 18:30] iwoloschin opened #27 "Lock To Specific Version"
Is there any way to lock a platformio project to a specific atmelavr release?  For instance, I have a legacy project that gets updated about once a year, and it's historically had issues moving to new toolchain releases.  I'd like to get it working with the current release (well, right now it's working well with 1.3.1) and then lock my environment down so I can stop wasting time chasing toolchain

[2017-01-23 18:44] ivankravets commented on #27
Please sorry, fixed. Try again.

[2017-01-23 18:44] #27 closed

[2017-01-23 18:53] iwoloschin commented on #27
Appears to be working now, thanks!  Much easier to separate code updates from toolchain updates now!

[2017-01-24 21:43] SRGDamia1 opened #28 "Add Support for EnviroDIY Mayfly"
Add support for the EnviroDIY Mayfly:  https://github.com/EnviroDIY/Arduino_boards

{
  "build": {
    "extra_flags": "-DARDUINO_AVR_ENVIRODIY_MAYFLY",
    "core": "arduino",
    "f_cpu": "8000000L",
    "mcu": "atmega1284p",
    "variant": "mayfly"
  },
  "frameworks": [
    "arduino"
  ],
  "name": "EnviroDIY Mayfly",
  "upload": {
    "maximum_ram_size": 16384,
    "maximum_size": 130048,
    "

[2017-01-27 18:47] ivankravets commented on #24
Could you try to update to the latest version? Via `pio update`. Could you reproduce this issue?

[2017-01-27 18:56] ivankravets commented on #28
Added https://github.com/platformio/platform-atmelavr/commit/7da2dc05198a6089f7ddb153aa70d1bf16cf0466

[2017-01-27 18:56] #28 closed

[2017-01-27 19:03] ivankravets commented on #26
1. Use `pio run -t program`
2. Add to your config `upload_flags = -F`

[2017-01-27 19:03] #26 closed

[2017-01-27 19:10] ivankravets commented on #28
Does it work now without custom board?

Don't forget to run `pio update` before`

[2017-01-27 19:31] SRGDamia1 commented on #28
It worked wonderfully!  Thank you!

[2017-01-29 01:34] joe31093 commented on #24
Updated Platform with latest Arduino Core.  Issue resolved.

[2017-01-29 01:34] #24 closed

[2017-02-06 19:02] SRGDamia1 opened #29 "Always recieve ISO C99 warning at build"
Operating system: Windows 7 or TravisCI

PlatformIO Version (platformio --version): 3.2.1

Every time I compile code, I receive this error:
:0:17: warning: ISO C99 requires whitespace after the macro name

The GCC linter in the IDE also displays this warning for every project.

The build continues successfully, but the warning is always there.

I also see the error in builds run by TravisCI. For e

[2017-02-11 22:07] satanowski opened #30 "Default `upload_flags` should be empty for `upload_protocol` == `avrisp`"
By default `upload_protocol` contains `-D` option when using `avrisp` as `upload_protocol`.

Example:

Such configuration...
[code]

...will give more or less such `avrdude` command:
[code]

The problem is that `-D` option disables auto erase of flash and when using Arduino as programmer omitting this particular phase very often (often = always on all my programmers and AVR chips) causes mismatch

[2017-02-11 22:23] ivankravets commented on #30
Do you use `upload` or `program` target?

[2017-02-11 22:39] satanowski commented on #30
`upload`

[2017-02-11 22:39] ivankravets commented on #30
http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2017-02-11 22:46] satanowski commented on #30
My bad :)

[2017-02-11 22:46] #30 closed

[2017-02-12 17:59] saarelaine opened #31 "FastLED libraries does not behave as expected (Arduino Mega 2560)"
I'm unable to control WS2811 led chain using FastLED libraries. I tried to control the led chain using NeoPixel libraries and it did function as it should.
Board: Arduino Mega 2560

Following simple code works with Arduino IDE, but not with PlatformIO:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41950438-fastled-libraries-

[2017-02-12 18:38] saarelaine commented on #31
Led chain seem to work after updating FastLED 3.0.0 to 3.1.4

[2017-02-12 19:59] #31 closed

[2017-02-19 08:15] kalsan opened #32 "Bug: Upload on Arduino Uno fails"
Moving issue https://github.com/platformio/platformio-core/issues/905 to here as requested.

### Configuration

**Operating system**: Arch Linux 64-bit

**PlatformIO Version** (`platformio --version`): PlatformIO, version 3.2.1 (installed in atom (with apm), not by the system's package manager packman or from AUR).

**Atom Version**: Tried 1.14.2-1 from official repos and from AUR.

### Descriptio

[2017-02-19 12:41] zgoda opened #33 "Atmel AVR toolchain supports LTO only partially"
Latest updates to AVR toolchain include LTO support in GCC, and compiler works indeed fine producing smaller object code. Unfortunately other tools such as `nm` (found in `$HOME/.platformio/packages/toolchain-atmelavr/bin/avr-nm`) does not support reading LTO object files, for example when trying to display symbols:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on i

[2017-02-20 14:26] ybakos opened #34 "Bug: Upload for Sparkfun Digital Sandbox fails [$15]"
Via https://community.platformio.org/t/sparkfun-sandbox-programmer-not-responding/1499

## Configuration

Operating system: MacOS 10.11.6

PlatformIO Version (`platformio --version`): PlatformIO, version 3.2.1 (installed via the platformio  Atom download)

Atom Version: Tried 1.14.3 x64 from the platformio Atom download)

## Description of problem

Uploading a sketch using the Arduino IDE works fi

[2017-02-20 15:35] #34 closed

[2017-02-20 15:36] ivankravets commented on #34
Please test with
[code]

[2017-02-20 15:38] ivankravets commented on #32
You are going to upload `megaatmega2560` firmware to Uno board. Please fix your `platformio.ini`.

[2017-02-20 15:38] #32 closed

[2017-02-20 15:48] #29 closed

[2017-02-20 17:10] kalsan commented on #32
Oh noes. Can't believe I didn't figure that out in 2 hours of debugging...

thanks a lot and sorry for the unnecessary disturbance!

[2017-02-21 01:55] ybakos commented on #34
@ivankravets Thank you, the issue is indeed resolved. Enjoy the bounty!

[2017-02-21 09:56] ivankravets commented on #34
@ybakos Thanks! I've just released `atmelavr` development platform. Please run `pio update` command or in PIO IDE: Menu > PlatformIO > Update platforms, packages,....

[2017-02-21 20:03] The00 opened #35 "Arduino Leonardo COM port broken after an upload."
### Configuration

**Operating system**: Windows 7 64bit

**PlatformIO Version** (`platformio --version`): 3.2.1

### Description of problem
Hi !
When uploading code to an arduino leonardo, the normal serial port doesn't re-appears after uploading. Instead, the arduino stays on the bootloader serial port.

#### Steps to Reproduce

1. create project for Eclipse IDE: `platformio init --ide eclipse -

[2017-02-23 11:50] selcuksarii opened #36 "Arduino Leonardo Uploading Problem (Linux)"
tried on both but same result..

## Problem
I am trying to use atom-platformio-ide to program my arduino leonardo but there is a problem uploading the code;
the problem is, I can upload the code only once, after that for each trial platformio cant find the board.
the only thing that lets the platformio to upload is upload some sample code from arduino ide, then platformio can upload for once again

[2017-02-24 20:46] The00 commented on #36
I think I have the same issue (#35). Same behavior, except I have the bug on W7. I thought it may be OS dependent, but as you have it on a other OS..
Can you try on W7 ?

[2017-02-24 20:47] selcuksarii commented on #36
İ tried on W10 works as it should

[2017-02-24 21:36] matthewcarroll opened #37 "CurieTime library not found in PlatformIO Registry"
On PlatformIO 3.2.1 when building for an Arduino Yun, a warning is given saying the lib `CurieTime` cannot be found in the PlatformIO registry:

[code]

Importing the header and using the functions fails the build. How can the CurieTime lib be imported?

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42418307-curietime-libr

[2017-02-24 21:40] The00 commented on #35
An other test I did : platformio + leonardo work fine on Ubuntu, but the leonardo flashed on Ubuntu bugs as previously back to W7.
Have you the same with yours OS ? ( flash on window 10, test with linux).

[2017-02-24 21:41] The00 commented on #36
An other test I did : platformio + leonardo work fine on Ubuntu, but the leonardo flashed on Ubuntu bugs as previously back to W7.
Have you the same with yours OS ? ( flash on window 10, test with linux).

[2017-02-24 21:43] ivankravets commented on #37
This is a built-in library for https://github.com/platformio/platform-intel_arc32

If you want to use it for Atmel AVR, copy [this](https://github.com/01org/corelibs-arduino101/tree/master/libraries/CurieTime) library to "project/lib" folder. It should look like "project/lib/CurieTime/*files"

[2017-02-24 21:44] #37 closed

[2017-02-24 21:51] selcuksarii commented on #36
I think my leonardo works fine if the upload is done without any error on both OS's. But i did not exactly understand what you mean by flash on Windows and test with linux. Do you mean serial communication ?

[2017-02-24 21:59] matthewcarroll commented on #37
The Arduino web editor allows the import `#import <Time.h>` with a similar interface to the `CurieTime` lib (e.g. `hour()`, `minute()`). Importing it succeeds, but using the functions fails the build. How can the Time library be imported?

Thanks

[2017-02-24 22:00] ivankravets commented on #37
Ahhhh... Just use in `platformio.ini`
[code]

[2017-02-24 22:06] The00 commented on #36
For me platformio doesn't upload exactly like the Arduino  toolchain, and it's seem to cause problem on certain OS. To see that, upload your code on the working OS with platformio. Then, switch to the other OS and connect the board and check if upload work with platformio.

[2017-02-24 22:13] selcuksarii commented on #36
My situation is not the same, only at Manjaro i cant upload twice, even if i upload on Windows, i can upload one more time at linux with platformio

[2017-02-28 15:40] matthewcarroll opened #38 "Modifying gcc-flags.json"
Modifying gcc-flags.json seems to have no effect on the build. Changing any setting in gcc-flags.json is unreflected in the verbose build output of a project (e.g. changing `gccDefaultCppFlags`). How can gcc-flags.json be enabled?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42531429-modifying-gcc-flags-json?utm_campaign=plugin&u

[2017-02-28 17:02] ivankravets commented on #38
http://docs.platformio.org/en/latest/projectconf.html#build-flags

[2017-02-28 17:02] #38 closed

[2017-02-28 17:07] matthewcarroll commented on #38
Yes, I saw that. I thought that gcc-flags.json was editable given the instructions to edit gcc-flags.json for linting:
http://docs.platformio.org/en/latest/ide/atom.html?highlight=gcc-flags#smart-code-linter
http://docs.platformio.org/en/latest/ide/atom.html?highlight=gcc-flags#force-arduino-file-as-c

[2017-02-28 17:16] matthewcarroll commented on #38
Thanks. Yes, I saw that. I thought that gcc-flags.json was supposed to be editable given the instructions to edit it for linting:
http://docs.platformio.org/en/latest/ide/atom.html?highlight=gcc-flags#force-arduino-file-as-c
http://docs.platformio.org/en/latest/ide/atom.html?highlight=gcc-flags#smart-code-linter

[2017-02-28 17:27] ivankravets commented on #38
Thanks, I've just updated a docs:

* https://github.com/platformio/platformio-core/commit/ba750f0eee749863f827728c3725b8d5a14b0f63

[2017-02-28 21:05] #35 closed

[2017-02-28 21:05] #36 closed

[2017-02-28 21:07] ivankravets commented on #35
Please re-test:

1. `pio platform uninstall atmelavr`
2. `pio platform install -U https://github.com/platformio/platform-atmelavr/archive/develop.zip`

If you still have a problem, please make first uploading with Arduino IDE.

[2017-02-28 21:08] ivankravets commented on #36
@selcuksarii @The00

Please re-test:

1. `pio platform uninstall atmelavr`
2. `pio platform install -U https://github.com/platformio/platform-atmelavr/archive/develop.zip`

If you still have a problem, please make first uploading with Arduino IDE.

[2017-02-28 21:53] The00 commented on #35
Thanks for your help !

I followed your step and I managed to get it work with some modification
The option -U seems to not exist, so I run it without.
The arduino core wasn't present in your package. I copied the cores directory from the arduino IDE into the package directory. Also removed the wiring_pulse.S file from it, it was gnerationg an error.

After that, everythings worked :)

Also, your

[2017-02-28 21:54] ivankravets commented on #35
Sorry, I wrote broken steps... I've just edited above. Please repeat.

[2017-04-07 19:10] texjoachim opened #43 "Add support for BOB3?"
Hi!

Would it be possible to add support for the BOB3 (http://www.bob3.org/)? It uses an Atmega88, I think and the necessary libraries are here: https://sourceforge.net/p/nibo/code/HEAD/tree/niborobolib/trunk/arduino16/

Regards,

Joe

[2017-04-13 07:01] Thijxx opened #44 "Arduino I2C Wire no data"
**Versions**
IDE: 17.3
Core: 3.2.1

**Config**
[code]
I am trying to move from the Arduino IDE to platformio and that is not as simple as copy/paste but I am getting there. The issue I run into at the moment is an I2C device (LM75) using the Wire.h library that returns no data.  I have taken out as many bits and pieces as possible to isolate the issue.

[code]
This exact code works when I use the

[2017-04-17 12:24] Thijxx opened #46 "ATTiny85 build or RadioHead problem?"
The RadioHead library does not work with ATTiny85 with protocol stk500v1.
This works from Arduino IDE.

These settings do not build. They fail over `RadioHead_ID124/RH_RF24.cpp:413:3: error: 'Serial' was not declared in this scope`
[code]

With these settings it builds, is also an ATTiny85 but an other board with built-in USB and more.
[code]
While these settings for the digispark work, uploading

[2017-04-23 19:34] ivankravets commented on #46
Could you try?
[code]

[2017-04-23 21:02] ivankravets commented on #43
Please re-test with the latest development branch of dev platform (has not been released yet). Try dev version:

[code]

Does it work for you?

[2017-04-24 07:24] Thijxx commented on #46
Thanks for your reply, I've tried it but it did not help. The error stays the same.

I had so many issues with platformio that I moved back to the Arduino IDE so I close this issue since I cannot test it anymore.

[2017-04-24 07:24] #46 closed

[2017-04-24 14:09] ivankravets commented on #46
* Arduino IDE > Settings > Verbose mode for Build/Upload
* `pio run --verbose`

You can compare 2 build processes (flags). Please share them on http://pastebin.com.

I don't see a problem why it can't work with PIO too.

[2017-04-24 15:48] texjoachim commented on #43
Unfortunately not. I tried with the most simple example program:

`#include <BOB3.h>

 void setup() {
   bob3.setLed(EYE_1, WHITE);
 }`

Here is the error on build:
`

Bob3-Test
lib
src
BOB3-test.cpp
.gitignore
.travis.yml
platformio.ini
BOB3-test.cpp
 1
 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11

/**¬
·*¬
·*¬
·*¬
·*/¬
·#include <BOB3.h>¬
¬
·void setup() {¬
···bob3.setLed(EYE_1, WHITE);¬
·}¬

1.3 s
platform

[2017-04-25 13:47] chappy1978 opened #47 "ATTiny Support"
ts seems there are a few bugs when programming ATTiny's using Platformio and the standard atmelavr packages. (Example: warning: "BIN" redefined #define BIN 2) I know its just a warning but who wants to look at that every time they build.  I thought it would be nice to use ATTinyCore. After looking through Platformio's folders the folder format is very different, as compared to Arduino. How would I

[2017-04-27 19:44] Thijxx opened #48 "ATtiny core on steroids"
Feature request, as described here:
https://community.platformio.org/t/radiohead-compiling-fails-for-attiny85/1777

The core used does not support RadioHead, this is the go-to library for using the cheap green 433MHz chips from China so this would be awesome to have!

Best option:
Better cores for the tiny, like [this one](https://github.com/SpenceKonde/ATTinyCore)

Second best option:
Enable digi

[2017-04-28 12:55] bendo commented on #2
Sorry for late response. But yes I've resolve the issue. Thanks for helping.

[2017-04-28 21:06] ivankravets commented on #48
Duplicate of https://github.com/platformio/platform-atmelavr/issues/47

[2017-04-28 21:06] #48 closed

[2017-04-28 21:18] ivankravets commented on #47
@valeros Please push all changes to https://github.com/platformio/platformio-pkg-framework-arduinoavr

* Add new core named `attiny`
* Updated existing board manifest with `"core": "attiny"`
* Add new variants and remove obsolete (currently added for existing attiny)
* Merge https://github.com/SpenceKonde/ATTinyCore/blob/master/avr/avrdude.conf with our config in our packages for all architectures

[2017-05-02 18:32] valeros commented on #43
Hi @texjoachim !
Looks like you sketch doesn't contain the`loop` function. Here is a simple blink sketch for your board:
[code]
Does it work?

[2017-05-02 19:06] texjoachim commented on #43
Ok, this one compiles perfectly, thanks!

However, I get an error message when I try to upload the sketch:

    platformio run --target upload
    [Tue May  2 20:42:50 2017] Processing bob3 (platform: atmelavr, board: bob3, framework: arduino)
    --------------------------------------------------------------------------------
    Verbose mode can be enabled via `-v, --verbose` option
    Collecte

[2017-05-03 06:09] Rantanen opened #49 "avrdude hangs frequently while programming leonardo devices"
When running `pio run -t upload` avrdude hangs often on lower performance hosts.

The leonardo-styled target devices use `wait_for_upload_port = true` for programming. On Linux (at least the Raspbian) the device file stays the same before and after the reset - thus the wait-for-new-port functionality will end up waiting all the way up to the 5-second timeout. This matches the functionality of the

[2017-05-03 17:20] ivankravets commented on #47
@chappy1978 @Thijxx could you re-test it?

1. Uninstall existing stable version of Atmel AVR development platform via `pio platform uninstall atmelavr`
2. Install development version: `pio platform install https://github.com/platformio/platform-atmelavr.git`

See all board manifests: https://github.com/platformio/platform-atmelavr/tree/develop/boards

Does it work?

[2017-05-03 17:29] ivankravets commented on #43
Please

1. `pio update`
2. Remove `upload_port` from your platformio.ini. PIO should detect port automatically.
3. Try uploading again.

[2017-05-03 17:35] ivankravets commented on #49
I've just removed this extra second from PIO Core: https://github.com/platformio/platformio-core/commit/30ff491a34b47fd0adc4c7395fa86b80b7919e64

Could you try dev build?

[code]

[2017-05-03 18:35] texjoachim commented on #43
This is an improvement as it now finds the correct port.

    Looking for upload port...
    Auto-detected: /dev/ttyACM0
    *** [upload] could not open port /dev/ttyACM0: [Errno 16] Device or resource busy: '/dev/ttyACM0'

However, now it can't open it. Here are the details on the port:

    crw-rw---- 1 root dialout 166, 0  3. Mai 20:32 /dev/ttyACM0

Needless to say I'm in group dialout so the p

[2017-05-03 18:41] ivankravets commented on #43
Could you try to reconnect this board?

[2017-05-03 18:47] texjoachim commented on #43
I did that.
No change. :(

[2017-05-03 18:48] ivankravets commented on #43
Cu

[2017-05-03 18:56] Rantanen commented on #49
Works way better. Removing the 1 second delay made the upload around 5.5 seconds faster :)

After the reset it seems that RPiZero takes around 500 ms to re-initialize the port. This caused following events to happen during the loop.

[code]

Removing the 1 sec delay allows PlatformIO to recognize that the port disappeared after the reset and then around 500 ms it correctly recognizes the new port

[2017-05-03 18:56] #49 closed

[2017-05-03 18:58] ivankravets commented on #49
@Rantanen thanks a lot for detailed info and report!

[2017-05-03 19:00] texjoachim commented on #43
No, it is only possible to program this board with some website.
That's one of the reasons I wanted to use Atom which I use for my UNOs, too.

[2017-05-03 19:01] ivankravets commented on #43
OK, does it work wit that site? Maybe, that site via Google Chrome's Serial uses your board

1. Reboot your machine
2. Don't open Chrome.
3. Try PIO

[2017-05-03 19:07] texjoachim commented on #43
The problem with that site (https://www.progbob.org/) is that it uses a special connector program (dude.bob3.org) which you have to compile yourself (which fails on openSUSE). It does not use Chrome (which I don't even have installed.)

[2017-05-03 19:25] ivankravets commented on #43
Could we close this issue?

[2017-05-03 19:29] texjoachim commented on #43
If there is no hope left to get it to work, of course.

[2017-05-03 19:32] ivankravets commented on #43
You should decide which software to use. That is not our requirements. If your serial device is occupied by another program, we can not use it anymore while that program release it.

If you would like to sue PIO, then don't run that "special connector program ".

[2017-05-03 19:36] texjoachim commented on #43
I don't run that program as I didn't even compile it. As far as I know, no program is using a serial device.

[2017-05-03 19:37] texjoachim commented on #43
So I would really like to use PIO.

[2017-05-03 20:50] Thijxx commented on #47
I can see the changes made but I have no clue how to select the board.

[code]

This is not it, maybe you could shine a light on the config or better, point me to the right spot in the documentation :D

[2017-05-03 21:01] ivankravets commented on #43
Please sorry, I've not got you. Let's forget about PIO.

Could you try this command in system terminal?
[code]

Do you see any error?

[2017-05-03 21:07] ivankravets commented on #47
@Thijxx Could you provide a demo project to reproduce this issue?

[2017-05-03 21:18] Thijxx commented on #47
This is the project folder.

[attiny85_spencekondetest.zip](https://github.com/platformio/platform-atmelavr/files/974715/attiny85_spencekondetest.zip)

[2017-05-04 07:39] valeros commented on #47
Hi @Thijxx! Probably you should use software SPI as mentioned in the RadionHead library:
[code]
In ATTiny Core [README](https://github.com/SpenceKonde/ATTinyCore#spi-support) said that with `ATtiny x5 (25/45/85)` you can use SPI USI library.

Have you tried to build your project in Arduino IDE?

[2017-05-04 15:15] Thijxx commented on #47
Yes, this works in the Arduino IDE.
Below is the verbose compile log fromt the Arduino IDE based on the same code. There are many warning but no errors.

[code]

[2017-05-04 16:33] valeros commented on #47
Could you please try to manually disable SPI library in your project?
[code]

[2017-05-04 16:38] Thijxx commented on #47
This seems to work. Could you please elaborate on why this works the way it does? I'd expect the Arduino IDE to show the same behaviour..

[code]

How the core switching works is still not clear to me, don't I need to include `core = tiny` or anything in the `ini` file?

[2017-05-04 16:44] texjoachim commented on #43
I get ...
    [screen is terminating]

and sometimes I get nothing, that is the cursor is away and the terminal window just stays blank.

[2017-05-04 17:03] valeros commented on #47
Actually, there is no `core` option in `platformio.ini` at all. `core` option is specified in the board configuration file `attiny85.json` and you cannot change it in your `platformio.ini`.
As for the error with `SPI` library, there is no default `SPI` implementation for `tiny` core, so PlatformIO build system decided to compile a generic one for all `AVR` boards. We will fix this behavior in the

[2017-05-04 19:13] Thijxx commented on #47
@ivankravets, you may want to close this issue again. Thanks.

[2017-05-04 19:48] ivankravets commented on #47
I've just deployed new Arduino framework. @Thijxx could you try `pio update`, clean project via `pio run -t clean` and build again with commented this line `lib_ignore = SPI`.

Does it work now?

[2017-05-04 20:18] Thijxx commented on #47
If I comment the lib_ignore so it looks like `;lib_ignore = SPI` I get the same error again.

[2017-05-04 20:59] ivankravets commented on #47
@Thijxx could you try keeping this line commented and add
[code]

See http://docs.platformio.org/en/latest/librarymanager/ldf.html#dependency-finder-mode

[2017-05-04 21:10] Thijxx commented on #47
This works, so does it mean I need to doublecheck the library for an IF statement that still points to the SPI library?

[2017-05-05 08:16] texjoachim commented on #43
I get ...
    [screen is terminating]

and sometimes I get nothing, that is the cursor is away and the terminal window just stays blank.

[2017-05-05 16:04] ivankravets commented on #47
Now, please remove both lines `lib_ldf_mode` and `lib_ignore`. Run `pio update`, clean project and rebuild.

[2017-05-06 04:50] Thijxx commented on #47
🎉 awesome, thanks y'all

[2017-05-21 10:07] gratefulfrog opened #50 "add support for all 100 pins on ATmega 2650"
The Arduino implementation only provides access to some of the pins. These are currently available on platformIO as well.

However, I need to be able to address all 100 pins, as provided by the [MegaCore](https://github.com/MCUdude/MegaCore/tree/avr-100-pin) package.

I would be great if this could be integrated into PlatformIO.

Thanks,
Bob

<bountysource-plugin>

---
Want to back this issue? **[

[2017-06-14 08:21] gadepall opened #51 "please add support for aarch-64"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46583339-please-add-support-for-aarch-64?utm_campaign=plugin&utm_content=tracker%2F38207915&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F38207915&utm_medium=issues&utm_source=github).

[2017-06-19 09:56] martinch opened #52 "Redboard Spark / Arduino UNO"
I can build and upload my program/main.cpp to the board, all the read/write leds are blinking so the board if programmed but nothing happens..

If I upload the same code from Arduino IDE it works...

I have been able to upload from Atom before... I have tried to clean/build..

Any hints? Weird problem..

[2017-06-19 17:52] warrenwoolseyiii opened #53 "Debug probe support for atmel-ice / dragon and atmega328p processor"
As the title states I am looking for debug probe support for the atmel-ice / and or dragon debug probes. I specifically need support for the atmega328p processor which I am using in a custom application.

[2017-06-20 12:14] valeros commented on #53
Hi @warrenwoolseyiii ! Thanks for your request!
We don't have required hardware, so it would be great if you could help us implement initial support for debugging in `atmelavr` platform.
First steps:
Install the development version of `atmelavr`:
[code]
Then create a new project and modify `platformio.ini` to fit your needs, e.g.:
[code]
Now you can start debugging session from terminal using `pio

[2017-06-20 16:28] warrenwoolseyiii commented on #53
valerii this is awesome thank you so much for getting me started. I will
keep you updated with progress.

On Tue, Jun 20, 2017 at 5:14 AM, Valerii Koval <notifications@github.com>
wrote:

--
Warren Woolsey
warren.woolseyiii@gmail.com
805 602 0458

[2017-06-21 17:04] rosshadden opened #54 "std::to_string doesn't exist"
When I import `<string>` and use `std::to_string` the compiler says it doesn't exist.  Is there a reason that is the case?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46583338-std-to_string-doesn-t-exist?utm_campaign=plugin&utm_content=tracker%2F38207915&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2017-06-23 20:20] AndreKR opened #55 "Wrong upload COM port detected"
PlatformIO 0.3.0 for VSCode

I'm trying to upload to a Sparkfun Pro Micro.

The Pro Micro upload process is the same as with the Arduino Leonardo: Open the selected COM port with 1200 baud and immediately close it to trigger a reset. Then wait until a new COM port appears (can be the same or a different number), then run a normal Arduino upload over this COM port.

In Arduino IDE it works, in Plat

[2017-06-23 20:45] ivankravets commented on #55
Could you provide an output of `pio device list` command?

[2017-06-23 20:58] AndreKR commented on #55
**In normal mode:**
[code]

**In bootloader:**
[code]

[2017-06-23 21:01] ivankravets commented on #55
Please create `boards` folder in a project root folder and place here `sparkfun_promicro16.json` file with the next contents:
[code]

Does it work now?

[2017-06-23 21:02] ivankravets commented on #55
Also, please remove `upload_port = COM16` from platformio.ini config

[2017-06-23 21:07] AndreKR commented on #55
Hm, this seems to be a clone, because on https://learn.sparkfun.com/tutorials/pro-micro--fio-v3-hookup-guide#faq-vid it says:

In the Arduino IDE this pair of VID/PID is recognized as "Arduino/Genuino Micro".

[2017-06-23 21:16] AndreKR commented on #55
Ok, so with your file the upload works.

Out of curiosity I tried with "Arduino Micro" (ID: `micro`) as board, but that fails, what's the VID/PID for that?

Yeah, I don't know... add "eBay Pro Micro" to the board database? :)

[2017-06-23 21:19] AndreKR commented on #55
Hm, wait a sec... `%USERPROFILE%/.platformio/platforms/atmelavr/boards/micro.json` does actually contain
[code]

Why didn't it work with the board set to `micro`.

[2017-06-23 21:28] AndreKR commented on #55
Oh, sorry

That was WRONG, the upload still doesn't work. Same error.

[2017-06-23 21:32] ivankravets commented on #55
Please open PlatformIO IDE Terminal in VSCode (see icon in toolbar, bottom) and run:

[code]

Does it work now?

[2017-06-23 21:44] AndreKR commented on #55
Nope, same thing (COM13).

[2017-06-23 22:02] AndreKR commented on #55
I think the problem might have nothing to do with the board but rather with my WAN module (F5521gw) or the way the USB devices are queried.

I found `pioupload.py` in `%USERPROFILE%\.platformio\penv\Lib\site-packages\platformio\builder\tools`.

There I see that the VID/PID is not used at all for choosing the upload COM port but rather it waits for a new COM port, just as the Arduino IDE does. Unli

[2017-06-23 22:09] ivankravets commented on #55
Could you repeat https://github.com/platformio/platform-atmelavr/issues/55#issuecomment-310778037 ?

See https://github.com/platformio/platformio-core/commit/05043c0f4a88e5d629acb64087ea6023d6365f5b

[2017-06-23 22:18] AndreKR commented on #55
Doesn't work.

I don't speak Python but I think you forgot to extract the port name from `before`, it seems to compare the ListPortInfo object with the port name ("COM13").

[2017-06-23 22:20] ivankravets commented on #55
Sorry, you are right! Please repeat https://github.com/platformio/platform-atmelavr/issues/55#issuecomment-310778037

[2017-06-23 22:21] AndreKR commented on #55
Works! :)

[2017-06-23 22:32] ivankravets commented on #55
Now, please run `pio upgrade`, it should update to 3.4.0rc1. Does it work?

[2017-06-23 22:47] #55 closed

[2017-06-25 04:51] Vincent-Pang opened #56 "Add support for Arduino UNO WiFi"
Hi, please add support for [Arduino UNO WiFi](http://www.arduino.org/products/boards/arduino-uno-wifi).

I am doing some development on this board with CLion. And I would like to use the [Arduino WiFi Link Library](http://www.arduino.org/learning/reference/wifilink).

I found that there are some unowifi related code on [platformio github](https://github.com/platformio/platformio-pkg-framework-ardu

[2017-06-26 21:50] kkrischker opened #57 "Blink-example with ATTiny85"
I tried the blink example with an ATTiny85 (Board: Generic ATTiny85), but the blink interval is 8 times slower than expected. I read out the fuses because I thought the clock is only 1 MHz instead of 8 MHz as described in the documentation. But the values of the read out fuses are ok: low=0x62, high=0xdf, ext=0xff. Any ideas?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on

[2017-06-27 18:23] kkrischker commented on #57
Just checked the fuses again: low fuse of 0x62 means that a clock divider by 8 is activated. The low fuse should be 0xe2, so that the device runs with 8 MHz.

[2017-06-27 21:16] #20 closed

[2017-07-23 00:03] rubyconn opened #58 "toolchain-atmelavr package for freebsd_amd64"
Hello,

I have compiled toolchain-atmelavr on FreeBSD 10.3R amd64 to fix error below.

[code]

I used the source files from here: http://distribute.atmel.no/tools/opensource/Atmel-AVR-GNU-Toolchain/3.5.4/

I have added a package.json file (edited for correct system) and removed doc, info, man and share directories, and replaced identical files with symlinks, to save space and make the file structu

[2017-07-23 20:07] rubyconn commented on #58
I also compiled the other dependencies for atmelavr platform on freebsd_amd64. Let me know if anything's wrong.

https://www.dropbox.com/s/0yacfcc9p1u9120/tool-avrdude-freebsd_amd64-1.60300.2.tar.gz?dl=0
https://www.dropbox.com/s/gpcqp3u8gol6los/tool-micronucleus-freebsd_amd64-1.200.0.tar.gz?dl=0

[2017-07-23 21:36] ivankravets commented on #58
That is great work!!! Thank you very much! 👍

All packages have been deployed to our CDN networks.

Would be thankful for other FreeBSD packages which we don't have.

P.S: Please re-test them. Remove your existing and `pio run` command should download them from our package registry.

[2017-07-23 21:36] #58 closed

[2017-07-23 21:37] ivankravets commented on #51
Which package does not work with aarch64?

[2017-07-23 21:44] #51 closed

[2017-07-23 21:44] ivankravets commented on #44
Does it work with the latest updates?

[2017-07-23 23:51] rubyconn commented on #58
Thanks for the quick deployment. [=

I tested with `pio run` and it works great.

[2017-07-24 07:12] Thijxx commented on #44
I can setup a test tonight, will update here.

[2017-07-24 18:42] Thijxx commented on #44
The LM75 works great in platformio now :) awesome.
Also tried it on the ATtiny85 again, still nothing, but thats another story.

Updated code, added line with `Wire.begin()`

[code]

[2017-07-24 18:42] #44 closed

[2017-07-24 18:46] Thijxx opened #59 "Please wait while upgrading PlatformIO"
Checking for updates on all platforms for every upload after each code change is overkill. +90% of all my waiting is done at this screen.
I tried to turn is off, there is an option for "Automatically Update PlatformIO IDE" but that does something else.

![screenshot from 2017-07-24 20-43-18](https://user-images.githubusercontent.com/3355823/28539081-c8405fec-70b0-11e7-871b-51f4684d2dd5.png)

<boun

[2017-07-24 18:50] Thijxx opened #60 "Keyboard Shortcuts variable outcome"
I open a project, write some code and upload it using ALT-CTRL-U.
This works only the first time, after the first time platformio acts like it uploads but it does not. This behaviour has been the same over a year now I guess. Chances are that I do not understand the "active upload action" concept. In the bottom left is a button PIO Build, I can choose things there, I think.

<bountysource-plugin>

[2017-07-24 18:50] Thijxx commented on #60
sry, needs to be at IDE GIT probably

[2017-07-24 18:50] #60 closed

[2017-07-27 12:55] ivankravets commented on #59
http://docs.platformio.org/en/latest/faq.html#multiple-pio-cores-in-a-system

[2017-07-27 12:55] #59 closed

[2017-07-28 04:54] brainwagon opened #61 "Problem with building usbdrvasm.o in DigisparkKeyboard on digispark-tiny..."
While trying to build the example framework-arduinoavr/libraries/__cores__/digispark/DigisparkKeyboard for the digispark-tiny, I get the following.  It appears that this error has previously been reported and fixed....

Any hints?
I'm using version 3.4.0.

[Thu Jul 27 21:44:09 2017] Processing digispark-tiny (platform: atmelavr; board: digispark-tiny; framework: arduino)
--------------------------

[2017-08-05 16:15] m0n1s commented on #61
Got the same error on Visual Studio Code on macOS 10.12.5

[2017-08-16 11:50] elektor-labs opened #64 "Please add support for Elektor Uno R4 with ATmega328PB"
https://www.elektormagazine.com/labs/elektorino-uno-r4-150790
https://www.elektor.com/elektor-uno-r4

Name: Elektor Uno R4
Platform: Atmel AVR
Frameworks: Arduino
MCU: ATmega328PB
Debug:
Frequency: 16 MHz
RAM: 2 kB
Flash: 31.5 kB

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48317444-please-add-support-for-elektor-uno-r4-with-atme

[2017-08-16 13:21] ivankravets commented on #64
Could you try this configuration file `platformio.ini`?

[code]

Does it work? If yes, we will add a new board using Arduino Uno manifest.

Also, do we need new variant?

[2017-08-17 12:32] elektor-labs commented on #64
I get a linker error:

`Linking .pioenvs\uno\firmware.elf
collect2.exe: error: ld returned 5 exit status
*** [.pioenvs\uno\firmware.elf] Error 1
 [ERROR] Took 8.62 seconds`

Please note that the 328pb requires its own header file, startup code and library:

- iom328pb.h
- crtatmega328pb.o
- libatmega328pb.a

These files are present in toolchain_atmelavr together with "specs-atmega328pb", which is

[2017-08-17 22:59] meelow commented on #23
I am also interested in this feature :-)

[2017-08-30 21:23] freespace opened #65 "LTO causes internal compiler error"
Occasionally avr-gcc will crash when compiling:

[code]

This seems related to link time optimisation: https://github.com/sudar/Arduino-Makefile/issues/486

I can verify that adding the following to my environment resolves the issue:

[code]

However on code where this workaround is not required, LTO does reduces binary size.

I am not sure what the correct fix is as this seems to be an issue from

[2017-09-20 17:32] AmanMohanty97 opened #67 "Arduino Upload Fails"
Configuration:
Operating system: Ubuntu 16.04 LTS

PlatformIO version:
PlatformIO, version 3.5.0a13

Description of problem:
Uploading of a sketch using upload in platformIO doesn't work.

Steps to Reproduce:
platformio.ini is

[env:uno]
platform = atmelavr
lib_extra_dirs = ~/Documents/Arduino/libraries
board = uno
framework = arduino

Actual Results:

[Wed Sep 20 22:34:19 2017] Processing uno (pl

[2017-09-26 15:14] honsey commented on #23
I was searching for this as well, because I work with the LINKIT SMART DUO and want to upload via SSH.

I could come up with a first working proof of concept. Maybe its useful for some of you.. a bit hacky, but it works.

Add this env to platformio.ini
`[env:sshupload]
platform = atmelavr
board = yun
framework = arduino
extra_scripts = sshupload.py
upload_port = mylinkit.local`

sshupload.py (sitt

[2017-09-29 09:22] pyetras opened #68 "C++ Standard Library not included in sparkfun_promicro16 env"
**Operating system**:
OS X
**PlatformIO Version** (`platformio --version`):
PlatformIO, version 3.5.0a16
### Description of problem

#### Steps to Reproduce
[code]
Also the IDE does not recognize the header statement, std namespace etc.

**The content of `platformio.ini`:**
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4986

[2017-10-04 13:29] iSynth opened #69 "Build & run does not work with CLion"
Hi!

I carefully read and repeated all the steps from the integration section
http://docs.platformio.org/en/latest/ide/clion.html

When I run the build project, I get a lot of errors:

[code]

As an example I use a simple Blink sketch:

[code]

[2017-10-04 13:35] iSynth commented on #69
I figured out, so i missed  #include <Arduino.h>

[2017-10-04 13:35] #69 closed

[2017-10-15 18:44] doronbehar opened #165 "Is there any plan to create a default, built-in target `burn_bootloader`?"
* https://community.platformio.org/t/new-target-to-upload-bootloader/908

I was wondering, after reading some posts on the forum about whether or not it is possible or not to use PlatformIO to install a bootloader (sometimes referred to as *firmware*) on Arduino boards, and since many users of the Arduino framework are used to the IDE and they don't have a choice but to use the IDE for these opera

[2017-11-03 09:20] surdu opened #71 "Manchester lib fails on ATTiny"
I am using some RF modules like in [this tutorial](http://www.instructables.com/id/Attiny85-RF-Transmitter-to-Arduino-Uno-Receiver-Ma/) to transmit some data around, and some LED to indicate status. The TX/RX code is very similar to the one in the tutorial, except the RX is on the ATTiny so not using Serial.

When I compile & upload my RX code to the ATTiny using Arduino, all works well, but when

[2017-11-08 10:24] ladislas commented on #68
the standard library is not compatible with AVR mcu.

some implementations have been made, like [µSTL](https://github.com/msharov/ustl). I have not tried it myself so I can't say if it's great but it seems to be well maintained.

[2017-11-08 10:48] ladislas opened #72 "Provide a `toolchain_dir` env variable for custom toolchains"
Hi there!

I'm one of the maintainer of [osx-cross/avr](https://github.com/osx-cross/homebrew-avr), a brew formula to build the avr toolchain with the latest gcc, binutils and avrlibc.

For some years I was using the Sudar's Arduino-Makefile but I've been playing a lot recently with platformio and it's quite amazing!

I'm wondering if you'd be interested in a PR to provide users with a way to set

[2017-11-10 10:05] Skysurfer-14 commented on #64
I get the same error, when I use the board "Atmel ATmega328PB".

It would be very helpful to add the support of ATmega328PB and its variants (Elector UNO R4, Wattuino Pro Mini PB, etc.) !

[2017-11-10 17:12] asteriskie commented on #61
Same issue on linux,  both arm and x86_64, doesn't seem to be an architecture issue.  Both fresh installs from platformio

[2017-11-21 21:34] ivankravets commented on #72
Hi,

You can remove all files excluding `package.json` from `~/.platformio/packages/toolchain-atmelavr`. After that, just make symbolic links to `~/.platformio/packages/toolchain-atmelavr/bin`. Here is a list with binary names https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L89

P.S: If you need a custom binary names, toolchain... You can fork with dev/platform and tun

[2017-11-22 15:42] ladislas commented on #72
Oh I understand! I thought that just changing the path [here](https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L90) with an external argument would make the job but after some testing I found out that it relies heavily on `toolchain-atmelavr` even if the compilation was done with my own toolchain.

Symlinking is adding one more step and may cause issues in the long run.

[2017-11-22 15:42] #72 closed

[2017-11-25 08:25] dontsovcmc opened #74 "digispark-tiny platform: SPI.h not found"
### Configuration

**Operating system**:
MacOS, Visual Studio Code (Windows 10x64 also)
**PlatformIO Version**:
PlatformIO, version 3.5.0b3

### Description of problem
I got error when build project that depends SPI.h
`src/main.cpp:2:17: fatal error: SPI.h: No such file or directory`

#### Steps to Reproduce
1. Project for Digistump Digispark 16Mhz
2. Add "SPI.h" header or add library that include

[2017-11-26 03:13] corymayer commented on #21
Instead of porting the Arduino libraries would it be possible to use the standalone Atmel Software Framework? It's currently compatible with the XMEGA family and builds with avr-gcc.

http://www.atmel.com/tools/avrsoftwareframework.aspx

[2017-11-26 11:11] ladislas commented on #33
@zgoda If you want to use the latest toolchain from [osx-cross/avr](https://github.com/osx-cross/homebrew-avr), you can use this port of the platform: [osx-cross/platform-osxcrossavr](https://github.com/osx-cross/platform-osxcrossavr).

[2017-11-26 11:13] ladislas commented on #72
I ended up forking the repo and removing the toolchain to provide my own.

https://github.com/osx-cross/platform-osxcrossavr

[2017-11-26 23:20] ivankravets commented on #74
The same with Arduino IDE. It seems that need to use custom SPI library
![screen shot 2017-11-27 at 01 19 04](https://user-images.githubusercontent.com/1760209/33245469-fdc1dbe2-d310-11e7-98ad-ffef77a32808.png)

[2017-11-26 23:20] #74 closed

[2017-11-26 23:40] ivankravets commented on #61
Fixed in https://github.com/platformio/platformio-pkg-framework-arduinoavr/commit/0ca5066ea859618ea8cf11768781d710343f1e08

Will be released soon.

P.S: You can remove `usbdrvasm.asm` manually from `~/.platformio/packages/framework-arduinoavr/libraries/cores/digispark/DigisparkKeyboard`

[2017-11-26 23:40] #61 closed

[2017-11-27 01:21] ivankravets commented on #7
Fixed toolchain for Windows

[2017-11-27 01:21] #7 closed

[2017-11-27 01:22] ivankravets commented on #64
Toolchain is fixed. Please run `pio update` and build project again. If it works, I'll add new board `Elektor Uno R4` with its variant.

[2017-11-27 12:29] ivankravets commented on #64
@elektor-labs I added your PINs definition https://github.com/platformio/platformio-pkg-framework-arduinoavr/commit/c6fd54b7af58c88519741961adae7943c2f22a06

Please note that I commented `https://github.com/platformio/platformio-pkg-framework-arduinoavr/blob/master/variants/R4/pins_arduino.h#L30`, it produces a lot of errors.

Also, new board manifest was added https://github.com/platformio/platfo

[2017-11-27 13:47] Skysurfer-14 commented on #64
Thank you! I've made some first tests after `pio update` and inserting the boards-file and pins_arduino.h in directory R4.
- `Serial.begin(9600);` and `Serial1.begin(9600);` compiles
- `#include <SPI.h>` and `#include <SPI1.h>` results in compiling errors
- `#include <Wire.h>` and `#include <Wire1.h>` results in compiling errors

[2017-11-27 13:55] ivankravets commented on #64
I've just deployed new package. So, you can experiment on it via
[code]

Let's wait for the comment by @elektor-labs

[2017-11-27 14:12] ivankravets commented on #67
Please install https://github.com/platformio/platformio-core/blob/develop/scripts/99-platformio-udev.rules and check your USB cable

[2017-11-27 14:12] #67 closed

[2017-11-27 14:14] ivankravets commented on #65
Please `pio update` to the latest version. The toolchains were updated before.

[2017-11-27 14:14] #65 closed

[2017-11-27 14:15] ivankravets commented on #33
Should be fixed in the latest toolchains.

[2017-11-27 14:15] #33 closed

[2017-11-27 14:16] ivankravets commented on #52
Could you reproduce this issue again?

[2017-11-27 14:18] ivankravets commented on #54
This is AVR toolchains. See http://www.atmel.com/webdoc/avrlibcreferencemanual/group__avr__string.html

[2017-11-27 14:18] #54 closed

[2017-11-27 14:18] ivankravets commented on #57
Should be fixed in the latest release

[2017-11-27 14:18] #57 closed

[2017-11-27 14:19] ivankravets commented on #68
See http://www.atmel.com/webdoc/avrlibcreferencemanual/ch20.html

[2017-11-27 14:19] #68 closed

[2017-11-27 14:20] ivankravets commented on #71
Could you provide source code with `platformio.ini` to reproduce this issue?

[2017-11-27 16:20] surdu commented on #71
Unfortunately, platform IO went into an "installing/restarting" loop, so I had to uninstall it.

The code in the linked tutorial should do the trick.

[2017-11-27 16:21] ivankravets commented on #71
This issue was fixed in related Python's Arrow library. Please try VSCode for PlatformIO and provide a project to reproduce the issue.

[2017-11-28 17:02] #71 closed

[2017-11-30 15:40] MacWyznawca opened #75 "Attiny9, Attiny10 support"
Some setup in config file maybe? 😉

[2017-12-03 23:19] seebs opened #76 "avrdude -D option often incorrect"
Had a lot of weird problems with avrdude failing when invoked by platformIO, working fine from normal command line. Eventually traced it to the -D option. According to avrdude's documentation:

And indeed, that's exactly what I see: Writing to anything that isn't an ATxmega, most changes fail verification and result in a non-working flash state, because the flash needed to be erased. Dropping the

[2017-12-15 01:45] ThingEngineer opened #78 "AT90PWM Support"
Add support for the AT90PWM line. Specifically, the AT90PWM316 if I had to pick just one.
http://www.microchip.com/wwwproducts/en/AT90PWM316

[2017-12-15 22:21] ThingEngineer commented on #78
PR #79

[2017-12-15 22:21] #78 closed

[2017-12-23 05:50] ThingEngineer opened #80 "Add support for AT90PWM216"
Native AVR only, no framework support.
Including updates to AT90PWM316.
All tested.

[2018-01-18 09:59] albertskog commented on #53
How's the progress @warrenwoolseyiii, did you manage to get it working? 😄

[2018-01-29 07:39] toddzebert opened #83 "How about support for the ATtiny x14/x17/x18 series?"

[2018-02-02 12:48] mrcamilletti commented on #23
@hansipete it worked for me but i had to change target[0] with source[0].

[2018-02-02 16:51] EngineerHebron commented on #56
I am having the same problem here!please any one to help

[2018-02-02 17:17] EngineerHebron opened #84 "Error while compiling wifi code"
Arduino: 1.6.9 (Windows 7), Board: "Arduino/Genuino Uno"

C:\Program Files (x86)\Arduino\arduino-builder -dump-prefs -logger=machine -hardware "C:\Program Files (x86)\Arduino\hardware" -tools "C:\Program Files (x86)\Arduino\tools-builder" -tools "C:\Program Files (x86)\Arduino\hardware\tools\avr" -built-in-libraries "C:\Program Files (x86)\Arduino\libraries" -libraries "C:\Users\engineer hebron\Do

[2018-02-06 07:52] hansipete commented on #23
@mrcamilletti cool – good to hear! i remember having also problems with target vs source[0]...

[2018-02-17 08:12] leventesen opened #87 "Toolchain does not recognize -std=gnu++14 build flag"
Toolchain does not recognize -std=gnu++14 build flag.
It converts the flag to -std=gnu++1y

[2018-02-25 14:51] xelarep opened #88 "AVRispMkII fuse programming fails"
When trying to program fuses on a standalone Atmel device with an AVRispMkII Usb programmer by `pio run --target fuses ` the programming fails. I get the unspecified upload_port error `*** [fuses] could not open port -P usb: [Errno 2] No such file or directory: ‘-P usb’`.

I did several testings like explained in the documentation. Here are some excerpts

platformio.ini

[code]
fuses.py

[code]
It

[2018-03-01 00:27] cataurus13 opened #89 "Add support for fishino_avr"
it would be nice to add support for the **fishino uno** board from www.fishino.it

package including not only avr variants:
[http://www.fishino.it/arduinoide/package_fishino_index.json](http://www.fishino.it/arduinoide/package_fishino_index.json)

[2018-03-03 23:02] kasbah commented on #53
I tried this and got:

[code]

[code]

With PlatformIO 3.5.1 I get:

[code]

[2018-03-12 15:46] Thijxx commented on #47
This is back again, please re-open ticket and re-repair.
The solution is adding `lib_ldf_mode = chain+` again.

[2018-03-15 17:46] JoaquinEduardoArreguez commented on #67
Hi @ivankravets, I have the same problem issued here and couldn`t solve it using your suggestion, udev rules already installed and USB cable ok, any other ideas on solving this issue?, my info:

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[Thu Mar 15 14:42:54 2018] Processing atmega328pb

[2018-03-15 18:01] JoaquinEduardoArreguez opened #90 "Upload to arduino UNO fails"
Hi everyone, I am trying to upload to UNO board but avrdude keeps saying that is out of sinc with my UNO board,

udev rules already installed and USB cable ok, any other ideas on solving this issue?, my info:

Ubuntu 16.04, platformio on Atom, permissions to use the upload port OK.

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

[2018-03-31 21:21] kodaman2 commented on #90
Same on OSX Sierra, trying out the simple blink example.
Arduino Uno, I can see TX, RX blinking so I know communications are ok, just can't upload the blink example at all. Works on Arduino IDE.
[code]

[2018-03-31 22:50] kodaman2 commented on #90
Ok one thing to note. When importing the blink example to platformio it will not upload to the uno. However when starting a new project and pasting the blink code it works flawlessly. Not sure why.

[2018-04-03 03:38] ivankravets commented on #90
Because you selected incorrect board in `platformio.ini` , see `atmega328pb` in logs

[2018-04-03 03:38] #90 closed

[2018-04-15 13:16] me21 opened #92 "Add support for atMega 128"
There's a core for this: https://github.com/MCUdude/MegaCore

[2018-05-10 10:41] vshymanskyy opened #93 "Build success when sketch is too big"
![image](https://user-images.githubusercontent.com/1506708/39866065-b20bcdf2-5457-11e8-8871-a9c4abc04a23.png)

[2018-05-14 08:57] avilleret opened #94 "Adafruit ItsyBitsy 32u4 missing"
as reported here : https://github.com/platformio/platformio-core/issues/1547

the Adafruit's ItsyBitsy 32u4 board is missing

could you please add it ?

[2018-06-04 11:27] ivankravets commented on #93
Thanks! 😊

Resolved in https://github.com/platformio/platformio-core/commit/bfc94d36e36bc9e2164734cf3894241db1a4831e (unified memory usage checker and reporter)

![screen shot 2018-06-04 at 14 26 36](https://user-images.githubusercontent.com/1760209/40915081-5ccc07ac-6803-11e8-8feb-67e5a195a6bb.png)

[2018-06-04 11:28] #93 closed

[2018-06-04 11:58] ivankravets commented on #87
How did you pass it?

[2018-06-04 11:59] ivankravets opened #95 "PIO Unified Debugger for AVR"
Moved from https://github.com/platformio/platformio-core/issues/1645

/cc @suroh001

[2018-06-04 13:23] leventesen commented on #87
That was long time ago, I forgot the details. After searching I had noticed that toolchain doesn't support C++14

[2018-06-04 13:27] ivankravets commented on #87
Thanks! I close this issue, maybe, Microchip will update toolchain later

[2018-06-04 13:27] #87 closed

[2018-06-04 15:51] ivankravets commented on #94
Resolved in https://github.com/platformio/platform-atmelavr/commit/84f485f6e51b0b8ab8b6c26052a5c2907d1df0e9

[2018-06-04 15:51] #94 closed

[2018-06-15 13:44] StudentMason opened #96 "Uploading to Sparkfun pro Micro shows bootloader as device"
When uploading to the Sparkfun Pro Micro, everything goes through fine, but the device shows up as "Sparkfun Pro Micro bootloader" and not just "Sparkfun Pro Micro" like it would if I were to use Arduino IDE. Is this a bug, and is there a way to fix this?

Thanks

[2018-06-15 20:31] Warwolt opened #97 "native example not working with Arduino Uno Rev2"
When flashing the native-blink example file on Windows 10 using PlatformIO ver 3.6 with a Arduino Uno Rev2 as target device, the avrdude tool gives the error:

 stk500_getsync() attempt < number > of 10: not in sync: resp=< hexnumber >

The INI-file was the following:

[code]

Compiling and flashing a similar program using the Arduino framework resulted in a successfully flashed mcu, so the device

[2018-06-17 03:15] golyalpha commented on #23
Makes me feel like this should be a part of PlatformIO by now.

[2018-06-18 16:12] ivankravets opened #98 "Toolchains for MIPS"
Moved from https://github.com/platformio/platformio-core/issues/628

/cc @pateldipen1984 @nopdotcom

[2018-06-21 11:11] tiferrei opened #100 "macOS will soon drop 32-bit support"
What kind of issue is this?

- [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
      something, or to understand why something isn't working the way you expect it to, use
      our Community Forums https://community.platformio.org

- [ ] PlatformIO IDE. All issues related to PlatformIO IDE should be reported to appropriate repository
      https://gith

[2018-06-22 02:00] ex-punctis opened #101 "Outdated micronucleus tool (mac)"
When I pick digispark-usb as the board, PlatformIO installs micronucleus tool version 1.2 (mac binaries) whereas the current version is >2. I wonder if there is a way to modify some setting so it fetches the latest version instead?

[2018-06-26 02:50] streamliner18 opened #102 "ATMega328PB: SPI Library all dead"
I'm trying to load the RF24 Example Project into a ATmega328PB board. Turns out it spells havoc all over the place complaining about the absence of register definitions tied to SPI:
[code]
More errors are omitted. Here's my `platform.ini`:
[code]
To reproduce the issue, just try to compile RF24Mesh's official example at  http://dl.platformio.org/libraries/examples/2/209/RF24Mesh_Example.ino

[2018-07-02 13:07] ivankravets opened #103 "New arduino Nano boards have new bootloader"
PIO Home feedback:

[2018-07-10 06:49] PLorand commented on #95
Maybe this can be used as a reference:
https://www.avrfreaks.net/forum/tutsoftgcc-avr-debugging-using-gdb-and-avr-dragon-under-linux-ubuntu

[2018-07-16 03:47] rcjcooke commented on #103
Couldn't find an "upvote" mechanism on here so posting instead. Can't seem to upload to a new Nano through PlatformIO on VSCode. Uploading works fine on Arduino IDE. My guess is that it's the new bootloader on the Nano that's the problem. I get the same problems as mentioned here: https://community.platformio.org/t/nano-328p-boot-loader/3997

[2018-07-23 08:12] sticilface opened #104 "argument parsing for avrdude (port and upload speed) incorrect."
pio ini file
[code]

output verbose
[code]

cause of error `"` incomplete in avrdude command parameters
[code]

removing the `"` results in upload
[code]

[2018-07-23 08:14] sticilface commented on #104
as a temporary fix using this as the upload_flags works :)
[code]

[2018-07-23 08:19] sticilface commented on #104
or even... the upload speed is optional so just leave
[code]

and it works

[2018-07-23 09:41] sticilface commented on #104
also...  the pio command uses both flags -D and -e

[code]
taken from http://www.ladyada.net/learn/avr/avrdude.html

Is this not counter productive? The arduino IDE does not use either of these

[2018-07-29 14:15] justind000 commented on #104
I have also run into an issue with the avrdude command line being invalid.
In --verbose output, pio sends this command:
`avrdude "-U lfuse:w:0xe2:m -U hfuse:w:0x5f:m -U efuse:w:0xff:m" -v -p attiny85 -C /home/justin/.platformio/packages/tool-avrdude/avrdude.conf -c usbtiny -e -D -U flash:w:.pioenvs/attiny85/firmware.hex:i`

Which complains about in invalid parameter for lfuse.

In my platformio.in

[2018-07-29 16:19] ivankravets commented on #104
See docs http://docs.platformio.org/en/latest/projectconf/section_env_upload.html

Please put each argument in the new line

[2018-07-29 16:19] #104 closed

[2018-07-29 17:29] ivankravets commented on #104
Thanks! Fixed => https://github.com/platformio/platformio-docs/commit/5141b99e54c47ff4057f1e28d95765e3842dc044

[2018-08-08 08:38] glucee commented on #47
I have tried the Spark Attiny AVR Programmer, it works well. You could check my [repo](https://github.com/glucee/attiny85_platformio) to try my config.

[2018-08-11 17:15] ivankravets commented on #101
We use the latest compatible 2.0 version. X.Y.Z is internal version naming. See Y as a real version name.

[2018-08-11 17:39] ivankravets commented on #103
Please use new board manifest by id `nanoatmega328new` and name `Arduino Nano ATmega328 (New Bootloader)`

[2018-08-11 17:40] #103 closed

[2018-08-11 17:45] #97 closed

[2018-08-14 01:46] maz3max opened #106 "ATtiny13A support"
Hey guys!
I recently did a project on ATtiny13A and discovered that there is only support for ATtiny13.
It was an easy hack to replace the device-specs of the tiny13 with tiny13a inside the avr-toolchain and edit the macro __AVR_ATtiny13__ to __AVR_ATtiny13A__ in c_cpp_properties.json.
The **reason** I need this is that the ATtiny13A has some additional features. (like PRR)
Can you please create a

[2018-08-14 23:46] ex-punctis commented on #101
Thank you for your response. Unfortunately, the current version of the command line tool doesn't work with version 2.03 bootloader from https://github.com/micronucleus/micronucleus

The following error is reported:

Since digispark clones are likely to come with the latest version of micronucleus, it might be worthwhile updating the command line tool to bring support for this version. I believe th

[2018-08-15 17:44] ivankravets commented on #101
Does it work with Arduino IDE https://digistump.com/wiki/digispark/tutorials/connecting ?

[2018-08-16 00:28] ex-punctis commented on #101
Yes, it does work with digispark in Arduino IDE using the package you linked. The tool reports version 2.0a4 (whereas the latest one available directly from
https://github.com/micronucleus/micronucleus is 2.0a5).

[2018-09-01 10:26] tito commented on #102
I wanted to try with platformio, and got the same issue here.
To make the chip work with arduino, i needed to change avrdude.conf atmega238p signature from 0x1e 0x95 0x0f to 0x1e 0x95 0x16 (PB signature), then i can select the Arduino Pro Mini 8Mhz 3.3V.
And the compilation works.

With platformio, i've seen that there is a new definition in avrdude for atmega328pb, however, when using `board = pr

[2018-09-01 14:02] streamliner18 commented on #102
@tito Changing to a ArduinoPro doesn't solve the problem though. It leverages the fact that 328PB is backward compatible with 328 on the binary level, but will not work if your code is already 328PB-specific.

On your signature problem, DO NOT modify the sig in avrdude.conf, that's too destructive. Simply add `upload_flags = -F`, and it will override the signature check.

[2018-09-04 08:29] justind000 opened #107 "Use arduino-cli"
Using the new arduino-cli tool will make supporting newer chips much easier.

https://github.com/arduino/arduino-cli for more information.

I don't know enough about the build process to use it within PlatformIO, but it would make supporting more chips easier since the majority of effort goes to making arduino projects compile in the Arduino IDE. If it compiles there, it can compile with the ardui

[2018-09-09 15:06] tito commented on #102
Adding -F impact all my others projects, and requires me to be even more cautious when switching from one board to another (i code theses days 2 boards type at the same time, so 2 instances of arduino).
Changing the signatures is for me safer at the moment.

[2018-09-23 21:40] AlbertEmil opened #108 "Unable to upload code to Arduino Nano (using Arduino IDE works)"
I am using an Arduino Nano (Clone) which I was programming with the Arduino IDE (Version 1.8.5 on Mac OS X 10.10.5).

Using the Arduino IDE I need to re-plug the Nano before uploading, but after doing this everything works as expected and the sketch is being uploaded successfully.

I then tried to use Platformio core (CLI) and get the well-known `not in sync` error:

    avrdude: stk500_getsync()

[2018-09-25 20:15] Maddog2050 opened #109 "Boards.h file doesn't have ATMega1284P or ATMega1284 defined for Sanguino"
Hi,

I have found that the Boards.h file doesn't have a definition for the ATMega1284P or ATMega1284 for the Sanguino boards as I got the error below:

In file included from C:\Users\auser\.platformio\packages\framework-arduinoavr\libraries\Firmata\Firmata.h:17:0,
from C:\Users\auser\.platformio\packages\framework-arduinoavr\libraries\Firmata\Firmata.cpp:18:
C:\Users\Auser\.platformio\packages\fra

[2018-10-10 20:05] ivankravets commented on #108
Resolved in https://github.com/platformio/platform-atmelavr/commit/ccbc004b4539d137cf9e18072cfe921634ca2ec5

Please use `board = nanoatmega328new` in your `platformio.ini`.

[2018-10-10 20:05] #108 closed

[2018-10-10 20:06] ivankravets commented on #109
Please move issue to https://github.com/firmata/arduino

[2018-10-10 20:06] #109 closed

[2018-10-10 20:07] ivankravets commented on #106
Which changes?

[2018-10-12 15:31] bergdahl opened #116 "Please add support for Purplepoint boards"
- [X ] **Development Platform or Board**.

Arduino compatible boards - https://github.com/m2m-solutions/board-index/blob/master/package_purplepoint.cloud_index.json

[2018-10-25 16:12] ivankravets commented on #101
Packages are updated. Please run `pio update`.

 Does it work now?

[2018-10-25 21:44] ex-punctis commented on #101
@ivankravets
It works now, thank you.

[2018-10-25 21:45] ivankravets commented on #101
Happy coding with PlatformIO! 😊

[2018-10-29 14:43] LestherSK commented on #102
That's because the Atmega328PB has 2 SPI ports, thats why you see

 take a look a this appnote to catch up on the differences. [https://www.pololu.com/file/0J1464/Atmel-42559-Differences-between-ATmega328P-and-ATmega328PB_ApplicationNote_AT15007.pdf](url)

[2018-10-31 00:45] AlbertEmil commented on #108
Neither `nanoatmega328new` nor `nanoatmega328` did do the trick on my Mac. However I was able to upload/flash the code to both of my tested boards with using PlatformIO Core (CLI) on Fedora 29. Due to that, I assume that this issue is not related to the boards itself (from a hardware perspective), but more an avrdude issue of PlatformIO (since using Arduino IDE's version of avrdude, if you can cal

[2018-10-31 10:15] aosodoev opened #111 "dyld: Library not loaded: @executable_path/libusb-0.1.4.dylib"
Getting this error when trying to upload to Digispark Tiny:
[code]
platfomio.ini:
[code]

Was able to upload successfully after creating symlinks to libusb-* files:
[code]

[2018-11-05 09:29] sstaub opened #112 "Support for megaAVR 0-Series"
Can you add support for the new megaAVR 0-series boards, like Arduino Wifi Rev. 2,
ATmega4809-XPRO (ATMEGA4809-XPRO) and ATmega4809 Curiosity Nano Evaluation kit.
The last costs under 10€ inclusive mEDBG https://www.microchip.com/DevelopmentTools/ProductDetails/DM320115
The Arduino core is released at https://github.com/arduino/ArduinoCore-megaavr
I think there is a new platform necessary.

[2018-11-05 13:33] tcurdt commented on #11
Then use `platformio run --target upload` and it should work.

[2018-11-05 14:49] tcurdt opened #113 "digispark/digistump ATTINY85 board keyboard compile errors"
[code]
src/keyboard.cpp:
[code]

[code]

Which looks like 3 issues:
1. redefinition of `BIN` with different values
2. deprecated inclusion of `delay.h` which should be `util/delay.h`
3. conversion of from 'int' to 'char' inside { }

[2018-11-05 15:06] tcurdt commented on #113
changing the file

[code]

explicitly casting to `char` is a hack/workaround for at least error 3)

[2018-11-06 20:59] Gurkengewuerz opened #114 "delay() function wrong timings aka. wrong fuses"
Tofay i tested the newest platformIO version with the ATtiny85. After testing the ATtiny with a blink sketech i recognized, that the delay() function is much longer than expected (1/2 of a second was about 4 seconds). This issue is related to #57.

I read out the fuses:
[code]

After i set the fuses with avrdude to extended 0xFF, high 0xDF and low 0xE2 like in issue #57 it worked like a charm.
As

[2018-11-08 13:30] lalten opened #115 "Can't set board_vendor (USB manufacturer) in platformio.ini"
I want to override the `USB_PRODUCT` and `USB_MANUFACTURER` strings on my Sparkfun Pro Micro.

According to the docs (http://docs.platformio.org/en/latest/boards/atmelavr/sparkfun_promicro16.html#configuration), I can

The Pro Micro's [board settings json](https://github.com/platformio/platform-atmelavr/blob/master/boards/sparkfun_promicro16.json) have the `build.usb_product` and `vendor` fields (

[2018-11-20 22:51] TimVosch opened #117 "Can't find atmel-toolchain in alpine docker container"
What kind of issue is this?

Possibly(?)

- [X] **Development Platform or Board**.
      All issues (building, uploading, adding new boards, etc.) related to PlatformIO development platforms
      should be reported to appropriate repository related to your hardware
      https://github.com/topics/platformio-platform

- [X] **PlatformIO Core**.
      If you’ve found a bug, please provide an inform

[2018-11-20 23:00] ivankravets commented on #117
Yes, it seems that existing AVR toolchain for ARM is not compatible with Alpine distributive. It should work with Ubuntu/Debian. Temporary solution is to remove everything from `~/.platformio/packages/toolchain-atmelavr` but keep `package.json`. PlatformIO will use the next binaries https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L93

Another solution is to fork https:

[2018-11-22 18:48] TimVosch commented on #117
I got it working (atleast the building) with the build_flags below. I don't think each is necessary, but it works :man_shrugging: Note that `/var/jenkins_home/` is usually your own home directory, however this is a jenkins docker container.

[code]

I will try and create a new image which will install the alpine atmel-toolchain and see if I can use some symlink magic to make it work.

[2018-11-27 18:05] hwacookie commented on #47
Until this is fixed in platformio (which I really love, and I really do appreciate the work @ivankravets and his fellows are putting into it), just a hint for anyone stumbling upon this like I did: I can confirm that compiling the exact same source-code *does* work in the Arduino IDE.

[2018-11-28 18:31] sstaub commented on #112
Meanwhile the UNO Wifi 2 board from Arduino is released.

[2018-12-10 18:21] koppa opened #120 "Programming with non serial prgrammer broken"
Version: platform-atmelavr stable and master.

When using a avr programmer without serial interface like the dragon_isp, the following lines fail in `builder/main.py`:

[code]

`FlushSerialBuffer` will be called and fails, due to `upload_port=usb` (in the project config):

```*** [upload] could not open port usb: [Errno 2] No such file or directory: 'usb'```

When disabling the FlushSerialBuffer f

[2018-12-13 00:02] ciphermaster opened #122 "AVR Upload in Windows using USB Programmer not working"
Hi,

trying to upload a code to an ATMEGA328P using an AVR ISP MK2 does not work. In the Help, there is a Document saying:

https://docs.platformio.org/en/latest/platforms/atmelavr.html

[env:myenv]
platform = atmelavr
framework = arduino
upload_protocol = stk500v2
; each flag in a new line
upload_flags =
    -Pusb

But this is only working on Linux.

On Windows, the correct Protocoll is avrisp2.

[2018-12-13 00:19] ivankravets commented on #122
Do you use `Program` target instead of uploading?

[2018-12-20 23:30] ivankravets commented on #122
Please reopen if you still need help

[2018-12-20 23:30] #122 closed

[2018-12-20 23:31] ivankravets commented on #120
Do you use `pio run -t program` instead of `pio run -t upload`?  See https://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2018-12-20 23:31] #120 closed

[2018-12-21 10:51] koppa commented on #120
No I used `pio run -t upload`.

The problem is the code for flushing the serial port is executed, and for user it is not obvious, that this part fails.  In my opinion flushing should only be done for programmers, where the build script is sure, that this is a serial device (maybe only do it explicitly?)

[2018-12-21 12:31] ivankravets commented on #120
Please use `pio run -t program`.

[2018-12-21 14:12] #123 closed

[2018-12-21 14:30] ivankravets commented on #123
Please update you Atmel AVR dev/platform. The new 1.12.1 release is out! https://github.com/platformio/platform-atmelavr/releases/tag/v1.12.1

[2018-12-27 19:58] ekrempel commented on #113
Many thanks for your tip. I was able to compile and deploy after I changed to code like this:
`const PROGMEM char usbHidReportDescriptor[USB_CFG_HID_REPORT_DESCRIPTOR_LENGTH] = { /* USB report descriptor */
  (char) 0x05, (char) 0x01,                    // USAGE_PAGE (Generic Desktop)
  (char) 0x09, (char) 0x06,                    // USAGE (Keyboard)
  (char) 0xa1, (char) 0x01,

[2018-12-27 20:02] ekrempel commented on #113
Many thanks for your tip. I was able to compile and deploy the coded after I modified the code as follows.

[code]
[code]

[2018-12-29 22:34] mstawick commented on #75
So... any updates for ATTiny10 support? :pray:

[2019-01-03 17:47] aster94 commented on #95
hello, have you seen this?
https://github.com/dcwbrown/dwire-debug

[2019-01-10 16:15] SteamingCoax opened #126 "Add support for AVR ATMEGA8515 and other legacy AVRs"
Some colleges in Canada use the 8515 for the majority of their programs but a lot of students enjoy using vscode and atom text editors, not AVR Studio 4... Thanks!

- [ ] **Feature Request**.
      Start by telling us what problem you’re trying to solve. Often a solution
      already exists! Don’t send pull requests to implement new features without first getting our
      support. Sometimes we l

[2019-01-13 12:16] wschaeffer opened #127 "Use micronucleus uploader for ATTiny"
The use of micronucleus uploader is exclusive for digispark boards, see platform.py:
`disabled_tool = "tool-micronucleus"`

Therefore it is not possible to use the micronucleus uploader when using a regular ATTiny with the micronucleus bootloader.

When using:
`[env:attiny85]`
`platform = atmelavr`
`board = attiny85`
`framework = arduino`
`upload_protocol = micronucleus`
An error appears:

A solut

[2019-01-15 14:24] Thijxx opened #128 "ATtiny fuses"
Setting the fuses for the ATtiny85 (for example) seems to be a issue that emerges every now and then. I've been struggling with this and read the documentation and some issues here in Github but it just looks broken.

When I use `pio run -t upload` and the board is `attiny85` the fuses set are: `E:FF, H:D7, L:E2` and it does not matter what I change in the `boards` directory in the `attiny85.json`

[2019-01-16 13:02] ivankravets commented on #128
How does Arduino IDE handle that? You can run uploading in verbose mode using `pio run -v -t upload` and compare command with Arduino IDE. Do yo usee any difference?

[2019-01-16 13:18] #127 closed

[2019-01-16 13:18] ivankravets commented on #127
Thanks! Resolved in upstream version https://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

Please re-test.

[2019-01-16 14:02] wschaeffer commented on #127
It works now, thanks!

[2019-01-16 14:06] ivankravets commented on #127
Thanks! The final release is out. You can switch back to stable version.

[2019-01-16 20:38] Thijxx commented on #128
The Arduino IDE does not touch the fuses when uploading code. It also does not read the fuses. `pio` always returns the fuses.

When I use the Arduino IDE to set the fuses to E:FF, H:E2, L:E2 and then switch to `pio` the fuses are set to `E:FF, H:D7, L:E2` when I execute `pio run -t upload -v`

**Arduino IDE code upload** (Upload Using Programmer)
[code]

**pio code upload** `pio run -t upload -v`

[2019-01-16 21:09] ivankravets commented on #128
Could you provide full commands? Not only outputs. Need to check arguments to `avrdude`.

[2019-01-16 22:30] ivankravets commented on #128
Could you try `-t program` instead of `-t upload`? See https://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2019-01-16 22:34] Thijxx commented on #128
ok

[code]

[2019-01-22 09:21] Thijxx commented on #128
Not yet. Am I missing something here? I have the fuses set in a JSON file but the fuses I end up with are different.

**platformio.ini**
[code]

**tickle85.json**
[code]

**result of** `pio run -t program`
`avrdude: safemode: Fuses OK (E:FF, H:D7, L:E2)
`

[2019-01-23 22:56] ivankravets commented on #128
Could you help us to resolve this issue? See

- https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L180

The platform script is located in `~/.platformio/platforms/atmelavr/build`

[2019-02-03 13:41] Thijxx commented on #128
The fuses are read fine and the `-t fuses` is also working as it should.
avrdude is vague about what it is reading and doing with this message:

[code]

It's saying it reads DF, asks to change it, we do NOT change it and then it's suddenly FF. This can't be right. Then when I run it again it seems it is indeed still DF and not FF.
This seems to be a bug in avrdude.

[2019-02-08 15:21] Meeh1 commented on #23
Great, thank you! Worked for me too.
Is there any way to store the root password so I don't have to enter it each time?

[2019-02-08 16:52] mrcamilletti commented on #23
You can install your ssh key with an 'ssh-copy-id' command and you won't need to type your password. [https://www.ssh.com/ssh/copy-id](url)

[2019-02-21 16:41] R0ll1ngSt0ne opened #132 "Invalid Board JSON for Sparkfun Pro Micro 5V"
Sparkfun Pro Micro 5V board claims PIDs 0x9205 and 0x9206.

The board JSON included with platformio (sparkfun_promicro16.json) lists incorrect PIDs:

    "hwids": [
      [
        "0x1B4F",
        "**0x9203**"
      ],
      [
        "0x1B4F",
        "**0x9204**"
      ],

The above PIDs are for 3.3V version of the board, not 5V.

[2019-02-25 00:03] stonehippo commented on #128
@Thijxx @ivankravets PIO does not pass the `-u` flag when programming via AVRDUDE in the `builder/main.py` script, so the default safemode setting is applied, which causes the fuses to be verified when you do `pio run -t progam`. It’s not setting the fuses at that point at all, just reading and verifying them.

In the Arduino IDE, most board support (such as ATTinyCore) is set up to do fuses with

[2019-02-25 00:14] stonehippo commented on #128
@Thijxx @ivankravets one more thing: the `fuses` target needs to get the `-u` flag in `main.py` to disable the safemode warning if you really want to disable SPIEN (and I’d do that _after_ programming, so switch the -t order above).

[2019-03-01 12:02] ivankravets commented on #128
Thanks! Should be something done on our side?

[2019-03-01 12:37] stonehippo commented on #128
@ivankravets I'll submit a pull request this weekend with the change to the `fuses` target for review.

@thijxx did you get the result you wanted by chaining the targets?

[2019-03-03 19:22] mgawron86 opened #133 "RobotDyn UNO R3 SMD ATmega328 - problem with auto detection"
Hi. I ordered new Arduino UNO board(https://robotdyn.com/uno-r3-smt-atmega328-usb-serial-ch340g-micro-usb.html) and it seems that auto detection does not work for my board version.

Terminal output:
[code]
Thank you in advance !

[2019-03-05 15:53] Thijxx commented on #128
@stonehippo yes thank you

[2019-03-05 15:53] #128 closed

[2019-03-09 10:39] aster94 commented on #107
I propose to move this issue to the platformio core
The arduino cli could be used on all boards not only avr

[2019-03-10 23:57] closedcube opened #134 "Error: Could not find a version that satisfies the requirement '~1.50400.0' for your system 'freebsd_amd64'"
Hello,

Just updated a build server on FreeBSD 11.2 and got the following error:

$ pio upgrade
You're up-to-date!
PlatformIO 3.6.5 is currently the newest version available.

$ pio run
Processing uno (platform: atmelavr; board: uno; framework: arduino)
-----------------------------------------------------------------------------------------------------------------------------------------
PackageM

[2019-03-11 18:01] sstaub commented on #112
There is also an interesting variant of the core
https://github.com/MCUdude/MegaCoreX

[2019-03-12 23:34] maelremrem commented on #113
I have an error : "too many initializers for 'const char [22]'" on the same part of the lib, can you help me ?

[2019-03-17 16:57] stonehippo commented on #134
@closedcube this means that the package toolchain-atmelavr for FreeBSD hasn’t been updated on Bintray (which is where PIO keeps its packages). Looking at the files page in Bintray, you can see that the last available packages was 1.40902.0 (
https://bintray.com/platformio/dl-packages/toolchain-atmelavr#files)

You could work around this by downgrading the package in your `~/.platformio/platforms/a

[2019-03-20 17:08] ivankravets commented on #134
We upgrade GCC toolchain in https://github.com/platformio/platform-atmelavr/releases/tag/v1.12.0

So, you can use the previous version of dev/platform via `platform = atmelavr@<1.12.0` in `platformio.ini`.

Need to go into logs and check why we switched to GCC 5.4.0.

[2019-03-20 22:20] closedcube commented on #134
Many thanks for the update, just changed a release environment to the previous version.

Please let us know if you need any additional info.

[2019-04-04 01:03] gcormier opened #136 "Fuses (Part 3)"
I realize there has been quite a bit of discussion in #128 as well as https://github.com/platformio/platformio-core/issues/865

I think simple support for fuses should be added in platformio.ini.

Changing a boards file for this should not be necessary. Fuses can be seen as parameters for the AVR, and many different boards can support quite a few configurations. The Arduino IDE hides most of this

[2019-04-14 10:01] MCUdude opened #137 "MCUdude MightyCore boards package"
Hi!

As the maintainer of [MightyCore](https://github.com/MCUdude/MightyCore), I would like to provide better documentation on how to use PlatformIO with the Arduino core. If this turns out to be a success I'd like to add some of my other Arduino cores as well. I know fuse settings is difficult, so I will leave this out of the question for now.

First, the MightyCore version that's included here i

[2019-04-16 17:50] DesktopMan commented on #112
Has there been any work on this? The official core for Arduino Uno Wifi Rev2 can be found here:
https://github.com/arduino/ArduinoCore-megaavr

[2019-04-20 15:28] MCUdude commented on #137
@ivankravets is there any way I could contribute, so any of this could happen?

[2019-04-22 19:19] ivankravets commented on #137
Sorry, I missed this issue :( Sure, we would be thankful in any contribution.

Ideally, would be good if we have a separate framework package per each Arduino AVR core. However, to simplify the integration process, we created this repository https://github.com/platformio/platformio-pkg-framework-arduinoavr
So, you can actually make a PR and I'll merge and re-deploy to our CDN.

* Entry point of de

[2019-04-22 20:01] MCUdude commented on #137
About updating the corefiles, How is it done? The version hosted over at platformio/platformio-pkg-framework-arduinoavr is very old, but the version present on my computer is much newer.
Will you guys take care of the updating, or do I have to submit a PR?

I tried this but no other variant than `standard` is preset at the moment. I'm not really sure where the "new" pinout files go. It would be aw

[2019-04-23 17:59] ivankravets commented on #132
Thanks!

[2019-04-23 18:02] ivankravets commented on #136
Have you seen this http://docs.platformio.org/en/latest/platforms/atmelavr.html#fuses?

Which board does not have fuses?

[2019-04-23 18:06] ivankravets commented on #133
This is generic `CH340` TTL which can be used in any board, not only Uno. You can specify custom upload port with http://docs.platformio.org/en/latest/projectconf/section_env_upload.html#upload-port

[2019-04-23 18:06] #133 closed

[2019-04-23 18:08] ivankravets commented on #100
Should be fixed with the latest release.

[2019-04-23 18:42] ivankravets commented on #137
See https://github.com/platformio/platformio-pkg-framework-arduinoavr/commit/bc854ca65e6faac834ca0062c9886cb124cab683

Could you re-test with the upstream version? See https://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

In this case, no need to reinvent wheels. This is actually an issue of Arduino IDE builder which is so primitive and does not allow to configure the build proce

[2019-04-23 18:52] MCUdude commented on #137
I'll do it right away!

That's a pretty easy way of disabling LTO. I'll add it to my personal platformIO template 👍

Maybe we should add mightycore as a prefix? as in mightycore_standard, mightycore_bobuino and mightycore_sanguino? IMO this will be easier to maintain when my other AVR Arduino cores get added later.

[2019-04-23 19:02] ivankravets commented on #137
Done! Please re-run `pio update`.

https://github.com/platformio/platformio-pkg-framework-arduinoavr/commit/d5e84b37846d7e3386858e2f6a8182200e588e12

[2019-04-23 19:09] MCUdude commented on #137
Cool! Quick question. I installed PlatformIO through VS Code, and everything is working fine there. On the other hand my terminal app keeps telling me that the pio/platformio command isn't found.

Do you recommend installing platformIO _in_ my terminal too, or will the these two separate installs collide?

[2019-04-23 19:10] ivankravets commented on #137
Just click on "Terminal" icon on the bottom toolbar or from PlatformIO left sidebar. It will populate PATH with PlatformIO Core.

[2019-04-23 19:19] MCUdude commented on #137
Well. I ran `pio update`, and updated to the latest version (3.6.7). However it still hasn't fetched your latest commit:

[code]

My current platformio.ini file looks like this
[code]

Is there anything I'll have to do in order to "re-fetch"?

[2019-04-23 19:56] MCUdude commented on #137
Sorry, I actually ran `pio upgrade` instead of `pio update`. It's working fine now. I'll test some more and report back later. BTW what's up with the boards selection menu? ATmega1284 appears four times! Oh, and are you able to change my "signature" from Mcudude to MCUdude 😉?

<img width="713" alt="image" src="https://user-images.githubusercontent.com/3238730/56611593-6fa46500-6612-11e9-851b-82abb

[2019-04-23 20:34] ivankravets commented on #137
It seems that you have 4 dev/platforms of AtmelAVR with different Git revision. Please navigate to PIO Home > Platforms and remove duplicate.

Changed ;)

[2019-04-23 20:55] MCUdude commented on #137
After some more testing, I can confirm that everything seems to be working just fine. When this be available through `platform = atmelavr`? I'm currently writing a simple guide for MightyCore users, and I want to refer to the generic atmelavr platform rather than a specific git repo.

[2019-04-23 21:11] ivankravets commented on #137
I've just released a new version => https://github.com/platformio/platform-atmelavr/releases/tag/v1.13.0

Please uninstall all Git dev/platforms and use stable.

Great! 👍 We would be thankful for this guide. You can refer developers to this configuration file http://docs.platformio.org/en/latest/projectconf.html

[2019-04-23 21:12] #137 closed

[2019-04-24 00:28] gcormier commented on #136
I have seen it, and its the solution I am using for now.

However, it seems like an extra step that could be avoided by just allowing a few overrides in the configuration file. :)

[2019-04-24 07:54] MCUdude commented on #137
Sorry for picking up the thread again, but avrdude.conf is missing some targets.
I'm not sure where this file is located, but could you add the following lines to avrdude.conf?
Even though some of these AVRs have the same signature it's still nice to be able to use the actual part number for `board_build.mcu`.

We're currently missing ATmega164A, ATmega164PA, ATmega324A, ATmega324PB, ATmega644A an

[2019-04-24 08:32] ivankravets commented on #136
See example https://github.com/platformio/platform-atmelavr/blob/develop/boards/uno.json#L31

The board manifests are here https://github.com/platformio/platform-atmelavr/tree/develop/boards

Please provide PR.

[2019-04-24 13:21] ivankravets commented on #137
Thanks! Please re-run `pio update` :)

[2019-04-24 14:20] MCUdude commented on #137
Cool! I may start planning for [MiniCore](https://github.com/MCUdude/MiniCore) support then! Many users have requested MiniCore PlatformIO support 😉

[2019-04-24 14:32] ivankravets commented on #137
Great! Please ping me if you need any help from our side 😊

[2019-04-24 14:38] MCUdude commented on #137
Great! I'll probably open a new issue here when the questions start to pile up 🙂

[2019-04-25 14:13] MCUdude opened #138 "PlatformIO MiniCore support"
Hi!

I'm starting to look into PlatformIO MiniCore support.
@ivankravets would you prefer if I issued some PRs, or do you want to add it yourself?

* First I need to add all the respective minicoreXXX.json files [here](https://github.com/platformio/platform-atmelavr/tree/develop/boards)
* Then I need to add `boards_minicore.txt` [here](https://github.com/platformio/platformio-pkg-framework-arduino

[2019-04-25 15:36] ivankravets commented on #138
We are going to refactor all our bord list and split them into:

- Dev KITs (class boards)
- Devices

We need that to allow developers to start their projects from DEVICES if they have a custom board and would like to use bare programming or SDK.

So, instead of duplicating boards by Arduino cores it is better to have 1 DEVICE and explain in PlatformIO docs for Atmel AVR dev/platform how to switch

[2019-04-25 19:19] MCUdude commented on #138
This is a very good idea! My Arduino cores follow this exact philosophy and are chip oriented instead of board oriented. The user has a specific microcontroller and wants to use the Arduino framework to develop an application. Clock speed, Bootloaders, upload port, upload speed, brown-out detection, LTO (and so on) is all up to the user.

But even though the user has selected an ATmega328P as the

[2019-05-02 20:03] MCUdude commented on #138
@ivankravets any hints?

[2019-05-03 08:47] MCUdude opened #139 "Export HEX file with bootloader included"
Hi!
In Arduino IDE it's possible to export the compiled project hex file with the bootloader included in the same HEX file. Would this be possible with PlatformIO as well? As for MightyCore (and other MCUdude cores),  F_CPU, upload speed, and upload port have to be defined somehow.

Thanks!

[2019-05-03 09:29] MCUdude opened #140 "Uploading using programmer doesn't work"
Hi!

I believe there's a bug here. When I've specified to use a dedicated programmer in platformio.ini (USBasp in this case) I'm not able to upload successfully by clicking the upload button in VS Code.

A little research reveals that this is caused by the -D flag in avrdude, which prevents the flash from being erased before upload. Is there any reason why the -D flag needs to be there in the firs

[2019-05-04 10:11] frazar opened #141 "Compilation error for board `mightycore644` when including SPI.h in v1.13.0"
Broken build when updating to v1.13.0, with `mightycore644` board.

I attach a minimal test sample to reproduce the issue: [arduino-blink.zip](https://github.com/platformio/platform-atmelavr/files/3144226/arduino-blink.zip). As you can see from the `platformio.ini` file, the basic program builds fine when using the previous version (`platform = atmelavr@1.12.5`).

Also note that, when commenting `

[2019-05-05 16:27] MacWyznawca commented on #100
I have the current version (there is no newer version according to platform update) and still macOS issues 32-bit warnings.

[2019-05-06 04:20] MacWyznawca commented on #100
But my problem is with cc1plus command. It's runing when I complile AVR core (no Arduino).

[2019-05-06 18:53] MCUdude commented on #141
I know all about it. I did fix this some days ago, but it's not available through PlatformIO yet. It can be solved by either replacing the libraries with the upstream version.

I suggest @ivankravets updates the MightyCore core files based on the upstream version and not the latest release. I'll issue a new MightyCore release very soon, but at the moment I'm waiting for a collaborator to figure ou

[2019-05-06 18:59] ivankravets commented on #140
Do you use `Program` instead of `Upload`? See http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2019-05-06 18:59] ivankravets commented on #140
Do you use `Program` instead of `Upload`? See http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer

[2019-05-06 19:00] ivankravets commented on #139
How do you do that with Arduino IDE?

[2019-05-06 19:02] MCUdude commented on #140
No, I'm using `Upload`. `Program` works just fine. But why does the -D flag needs to be there in the first place? It's just causing confusion like this? It would be much more elegant if we could use the same upload command no matter what upload method is used. It's already defined in platformio.ini.
Just my two cents 🙂

[2019-05-06 19:04] MCUdude commented on #139
The *Export compiled binary* option leaves two hex files in the sketch folder. One with and one without a bootloader included. Very useful!

<img width="519" alt="image" src="https://user-images.githubusercontent.com/3238730/57248317-5c49be80-7042-11e9-8e2e-2e9a88354903.png">

[2019-05-07 05:35] pfeerick commented on #140
Not true. The avrdude upload pattern for the Arduino IDE is :
[code]

`-D` is right there just before the 'what to actually flash' `-U` specification. Hence, `Upload` is behaving exactly like the Arduino IDE in this respect.

[2019-05-07 06:13] pfeerick commented on #139
The binary that platformio creates is relatively easy to find... it's in the project folders .pioenvs/environment-name folder... i.e. for an project with an environment name of 'uno' it's in the `.pioenvs/uno` folder as `firmware.hex`... the giveaway being the last few lines of the compile... but that doesn't help with a version _with_ a bootloader.

[code]

If this information is correct, it shou

[2019-05-07 06:22] MCUdude commented on #140
Sorry, I must have missed it. I looked through the platform.txt file, but I couldn't find it at the time. So why isn't an erase necessary when uploading using the bootloader. It's clearly needed when uploading using a dedicated programmer.

[2019-05-07 09:16] ivankravets commented on #138
Sorry for the delay, I had a small vacation.

Can you make PR with generic board manifests as described above? `ATMEGA168PA.json`?

[2019-05-07 09:19] ivankravets commented on #141
@MCUdude please ping me when a release will be ready. We currently support stable software in our PlatformIO dev/platforms. You can create your own dev/platform and maintain beta software. However, I don't recommend to do that. It's very difficult to track issues.

[2019-05-07 09:41] MCUdude commented on #138
Sorry, I'm heading to Shenzhen, China for a week on a business trip. I can do it as soon as I get back. I'm not even sure Github is available in chine without the use of VPN.

Do you want _all_ variants to have a dedicated JSON file or just the ones that actually have different device signatures? ATmega168P and ATmega168PA have the same signature. ATmega168/A and ATmega168P/PA does not.

I just di

[2019-05-07 09:43] MCUdude commented on #141
I certainly will!

[2019-05-07 22:28] pfeerick commented on #140
Because erasing the flash would erase the bootloader... which you don't really want to do since you're about to use it! 😆

[2019-05-13 18:18] R0ll1ngSt0ne commented on #132
You are welcome!

[2019-05-13 19:01] R0ll1ngSt0ne commented on #132
I think there is still a problem with the JSON:

The PIDs claimed by Pro Micro 5V are PID: 0x9205 (**bootloader**); 0x9206 (**sketch**)

However, JSON now lists the PIDs in this order:

It seems that when writing a sketch to the board, platformio writes the _first PID_ to to the board - causing the board to use  bootloader PID for sketch. I think the order of pids in the JSON should be reversed.

[2019-05-13 19:03] R0ll1ngSt0ne commented on #132
Is there a way to specify in the JSON which if HWIDs are for bootloader and which are for a sketch?

[2019-05-14 17:53] ivankravets commented on #132
Hm... But we don't support flashing of bootloader. So, we can use HWID/PID for sketch?

[2019-05-14 17:59] #132 closed

[2019-05-14 18:01] ivankravets commented on #132
Please re-test with the upstream version  http://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

[2019-05-14 21:16] ivankravets commented on #138
How about this `ATMEGA168P.json`?

[code]

[2019-05-18 17:56] sstaub commented on #112
Arduino announced a new board  "Arduino Nano Every", also with the new ATMega4809.

[2019-05-20 18:14] MCUdude commented on #138
Looks good to me, but I have a few questions.

First, what does "version": 2 means?
Let's say I want to change F_CPU. Would I still add `board_build.f_cpu = 8000000L` to platformio.ini?

This is the template platformio.ini file I use for my projects. What would it look like with the new JSON file?

[code]

[2019-05-21 18:58] ivankravets commented on #138
I've just thought... to avoid any delays you can make a PR with own boards in the old format. Later, we will reformat them.

As you described here => https://github.com/platformio/platform-atmelavr/issues/138#issuecomment-490010934

[2019-05-21 19:06] MCUdude commented on #138
That's fine! Is it OK that I do changes to existing JSON files as well (atmega328pb.json for instance)?

[2019-05-21 21:37] ivankravets commented on #138
I see that `atmega328pb.json` uses an official Arduino core. I propose to keep it without changes. Maybe, some developers use it in their projects.

As I understand correctly, they can switch to your core later without any issues.

[2019-05-22 05:44] MCUdude commented on #138
The 328pb isn't officially supported by the official Arduino core. There's no pin mapping for the extra pins, and PWM generated by timer3 and 4 isn't available through analogWrite.

Yes, this is true. It's 100% compatible with the official core but offers some extended functionality that the 328pb needs. It would be a pity if we can't have proper 328pb support in PlatformIO IMO. Please let me know

[2019-05-22 11:26] ivankravets commented on #138
Ah, I got you. Yes, please update `atmega328pb.json` too. Thanks!

[2019-05-23 08:24] MCUdude commented on #138
Do you want the "name" fields to be:
"ATmega328P"
"Atmel ATmega328P"
"MCUdude ATmega328P"
"MiniCore ATmega328P"

Personally, I'd prefer the first one if it's possible to choose between the official Arduino framework and MiniCore in a separate menu when you start a new project. Is this option something that should be added to the JSON files?

[2019-05-23 08:35] MCUdude commented on #138
.. And how should I deal with devices that doesn't have a bootloader (and will have to be programmed with a program like USBasp or USBtinyISP). Like this?

[code]

[2019-05-23 09:33] ivankravets commented on #138
What is MCUdude? Do we have physical MCUdude boards?

[2019-05-23 09:35] MCUdude commented on #138
Well, I do for MightyCore, but not for MiniCore.

Should it say Microchip instead? How about the URL to the MiniCore repo? Lots of useful documentation for the user there.

[2019-05-23 09:42] ivankravets commented on #138
Oh, sorry :( Now I understand. `MigthyCore` this is software part, not hardware. In this case, I recommend using "device" notation for file name and provide documentation on how to switch between cores. We already did this for ST STM32 => http://docs.platformio.org/en/latest/platforms/ststm32.html#switching-between-arduino-cores

They also have a few Arduino cores.

I recommend the next format for

[2019-05-23 09:45] MCUdude commented on #138
Looks good to me? But my previous question still remains unanswered. How should I handle ATmega48, which doesn't have a bootloader and require a dedicated programmer? Is it OK if I add `require_upload_port": false,` and remove the speed option?

[2019-05-23 09:52] ivankravets commented on #138
Yes, please update `upload` section to the working format.

You need to replace these `.....` with real data. `"mcu": "..."` => `"mcu": "atmega168p"`, and `"extra_flags": ".."` to `"extra_flags": "-DARDUINO_AVR_ATMEGA168"` or similar to that.

[2019-05-23 09:54] MCUdude commented on #138
Thanks! I found it a bit unclear since ATmega168 was already there under `"name"`

[2019-05-23 10:13] ivankravets commented on #138
We don't use `name` field in the build process and show only in UI and docs.

[2019-05-23 10:30] MCUdude commented on #138
Last question, where should I put the MiniCore repo URL?

[2019-05-23 10:31] ivankravets commented on #138
We will create a new section in our docs similar to STM32. Will it work for you? You can even propose your PR to this section. I'll show later where is this place.

[2019-05-23 10:36] MCUdude commented on #138
That's OK for me! Do you mean something like this? It would be nice if the repo URL was visible to the user for the user when MiniCore is selected as core.

[code]

[2019-05-23 11:50] ivankravets commented on #138
This `core_url` will not be visible for and developer. We will put this link in docs.

[2019-05-23 12:19] MCUdude commented on #138
That's perfectly fine.

Many of the AVR chips have different suffixes but the same device signature. ATmega328P and ATmega328PA share the same signature. Is it OK if these two variants share the same JSON file too?

Filename: atmega48p.json

[code]

[2019-05-23 13:08] ivankravets commented on #138
Sure!

---

I like it! Just one thing, to keep non-board profiles (for devices) in the capital case => ATMEGA48P.json

[2019-05-23 17:27] ilovesushi opened #143 "Cosa library integration"
https://github.com/mikaelpatel/Cosa

Is there any way of integration of this great library to plATFORMIO,
OR simply adding path to project file to  automatically include base and additional libraries from external folders

It simply integrates with arduino just by copying the library folder, Arduino automaticly tracks all dependency, but with platformio i have to include every additional piece of

[2019-05-27 11:57] xslim commented on #92
I am now developing for AT90CAN128 so could be nice for this to be added.

[2019-05-27 20:50] systemofapwne opened #144 "std::floor() on a float crashes Arduino"
Hello,
I have been [redirected](https://twitter.com/PlatformIO_Org/status/1132759175107403776) here to give an error report.

Calling std::floor() on a float, the arduino gets stuck. Compiling with Arduino IDE instead of PlatformIO does not cause this issue. Using double as datatype does also not cause the issue. Only when using float and PlatformIO.

I tested this on my Arduino Nano (new Bootload

[2019-05-27 23:24] mrbaungartner opened #145 "Mouse.h and Arduino Pro Micro doesn't work in PlatformIO"
I’m using a joystick and an Arduino Pro Micro to emulate the mouse, I use exactly the same code on both platforms, it compiles perfectly, with no errors, however it only works if I pass the code via Arduino IDE.

I downloaded the latest version of VS Code with PlatformIO, i also downloaded the library Mouse.h from PlatformIO Library Manager, and even so, after i upload the code to my Micro Pro the

[2019-05-28 16:31] Lukas1818 commented on #113
I have create a pull request

[2019-06-01 12:18] #138 closed

[2019-06-01 12:26] ivankravets commented on #138
Please re-test with upstream version http://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

[2019-06-02 21:09] MCUdude commented on #138
I'm able to compile for ATmega328P and ATmega328PB when adding
`platform = https://github.com/platformio/platform-atmelavr.git` to platformio.ini.

`platform = atmelavr` does not work.

However, I'm not able to create a new project with VSCode. See [platformio #2606](https://github.com/platformio/platformio-core/issues/2606) for details.

[2019-06-05 08:19] noisymime commented on #100
I'm still seeing this with the latest versions installed also. The following utilities (at least) are running 32-bit versions:
`avr-as`
`avr-ld`
`avr-c++`
`collect2`
`cc1plus`
`lto1`

All of these are executed when doing a compile. Additionally the `avr-dude` binary is 32-bit.
I've also confirmed with the developer preview that compiling and uploading using the currently published tools does not w

[2019-06-05 11:22] ivankravets commented on #100
Atmel AVR toolchains (Windows, Linux 32/64, macOS) has been updated to the latest official version by Microchip:
- https://www.microchip.com/mplab/avr-support/avr-and-arm-toolchains-c-compilers

Also, patches for Atmega328PB were applied using http://packs.download.atmel.com/

Please update PlatformIO packages via `$ pio update`.

[2019-06-05 11:22] #100 closed

[2019-06-05 12:23] noisymime commented on #100
Thanks @ivankravets, I can confirm all compile tools are working after updating to 1.50400.180928 of `toolchain-atmelavr`

`avr-dude` from the `tool-avrdude` package remains 32-bit though. Does this need a separate issue over at https://github.com/platformio/platform-atmelavr/ ?

[2019-06-05 12:25] ivankravets commented on #100
Yes, please create a separate issue for avrdude.

[2019-06-05 13:25] noisymime opened #147 "32-bit avrdude will cease to function on macOS 10.15"
The current version of `tool-avrdude` (1.60300.190424) on macOS contains a 32-bit binary for `avrdude`. Under the upcoming version of macOS (10.15) 32-bit binaries will not function and I have confirmed under the developer preview that the packaged `avrdude` will not run.

Version 6.3 of avrdude available at http://download.savannah.gnu.org/releases/avrdude/ appears to compile cleanly under macOS

[2019-06-06 17:41] ivankravets commented on #147
Thanks! Please re-run `pio update`. Does it work now?

[2019-06-06 23:08] noisymime commented on #147
Thanks @ivankravets
I've updated and the `avrdude` binary is indeed now the 64-bit version, however looks to be relying on some extra libs that aren't present for me:

`dyld: Library not loaded: /usr/local/opt/libftdi/lib/libftdi1.2.dylib
  Referenced from: /Users/josh/.platformio/packages/tool-avrdude/bin/./avrdude
  Reason: image not found
Abort trap: 6`
and
`dyld: Library not loaded: /usr/local

[2019-06-07 04:19] ivankravets commented on #147
I compiled it. Do you use PlatformIO for flashing? This avrdude does not work as a separate binary. Just only from PlatformIO Core. Try to flash board with PlatformIO.

[2019-06-15 16:53] mrVanboy commented on #147
Installing the latest `avrdude` from brew and replacing with it preinstalled binary in PlatformIO directory works for me.

[code]

Symlinking should probably work too.

[2019-06-17 21:37] MCUdude opened #148 "Update MightyCore"
I've just released a [new version of MightyCore](https://github.com/MCUdude/MightyCore/releases/tag/v2.0.2) which fixes some PlatformIO related issues. @ivankravets maybe we should rename the JSON files just like we did with MiniCore? I can submit a PR for this if you want.

[2019-06-18 05:23] vindicatorr commented on #95
@aster94 I came across that today and was very hopeful of making use of it... buuuuut I was bummed to find that atmega16 doesn't have the capability to use it, only JTAG.
I keep coming across avarice and may look into that more.

[2019-06-19 14:36] dmsherazi opened #149 "Add support for ATMEGA640"
Add support for megacore an Arduino core for ATmega64, ATmega128, ATmega640, ATmega1280, ATmega1281, ATmega2560, ATmega2561, AT90CAN32, AT90CAN64 and AT90CAN128, all running Optiboot flash.

[2019-06-21 22:49] noisymime commented on #147
@ivankravets With the latest update, I can't upload through PlatformIO at all. I get the same error as trying to run from the command line:
`
Looking for upload port...
Auto-detected: /dev/cu.usbmodem14201
Uploading .pioenvs/megaatmega2560/firmware.hex
dyld: Library not loaded: /usr/local/opt/libftdi/lib/libftdi1.2.dylib
Referenced from: /Users/josh/.platformio/packages/tool-avrdude/bin/avrdude
Re

[2019-06-22 10:14] ivankravets commented on #141
Should be fixed with the latest release.

[2019-06-22 10:14] #141 closed

[2019-06-22 10:18] ivankravets commented on #148
Resolved with https://github.com/platformio/platform-atmelavr/commit/79e5ef5aa05f68f3fe3a2599251f8d5e31084c99

Yes, please provide PR and I'll make a new release. Thanks!

[2019-06-22 10:18] #148 closed

[2019-06-22 14:12] MCUdude commented on #149
@ivankravets is this as simple as adding the correct board JSON files? I can submit a PR for this if you like.

[2019-06-22 14:37] ivankravets commented on #149
Maybe, rename existing manifests?

[2019-06-22 14:42] MCUdude commented on #149
But how about the users who use PlatformIO with Arduino Mega? wouldn't this cause issues if we suddenly rename and restructure the existing board manifests? Isn't it better if I just submit a PR for the new ones, and you can "clean up" the list afterward? Of course, megacore128.json will be renamed by me.

[2019-06-22 15:29] ivankravets commented on #149
You are right, let have new manifests.

[2019-06-23 19:59] ivankravets commented on #147
@noisymime what is your macOS version?

[2019-06-23 23:34] noisymime commented on #147
This is on 10.14.5, but I can give it a try on my 10.15 dev image in a day or so.

[2019-06-25 07:24] MCUdude opened #152 "Error compiling for ATmega324PB"
Hi!
I have a project where PlatformIO is used to program an ATmega324PB. After I upgraded the toolchain I now get this error:

[code]

I looked in the device-specs folder, and the file is indeed missing. Can you fix this soon? 🙂

[2019-06-25 07:40] MCUdude commented on #152
turns out `iom324pb.h` is also missing.

It also seems like MightyCore v2.0.2 isn't available in my current installation. How can I add this version to PlatformIO? v2.0.2 brings printf support to the print class (Serial.printf is now a thing, at least in my Arduino cores), and I need this for the project I'm working on.

[2019-06-25 13:44] suroh001 commented on #53
Any updates on this?

[2019-06-27 09:25] pfeerick commented on #145
Just linking this to the forum thread for completeness: https://community.platformio.org/t/the-code-compile-in-arduino-ide-and-platformio-but-only-works-if-using-arduino-ide/7744

Also, I have a Arduino Micro on the way so I can test this on my end...

[2019-06-27 09:31] pfeerick commented on #147
Is it worth trying the version that Arduino are using? I believe they rebuilt it in the last week or so for 64bit mac? From their [package.json](https://github.com/arduino/Arduino/blob/master/hardware/package_index_bundled.json):

http://downloads.arduino.cc/tools/avrdude-6.3.0-arduino14-i386-apple-darwin11.tar.bz2

[2019-06-27 09:51] pfeerick commented on #76
Very strange, as this is the [same flag the Arduino IDE uses for normal uploads](https://github.com/arduino/ArduinoCore-avr/blob/master/platform.txt#L105), suggesting there's something different in the avrdude conf or the behaviour of the binary. Or maybe this is no longer an issue?

[2019-06-27 14:45] seebs commented on #76
Huh, I don't know. So far as I know, they were both using the same avrdude. The command lines I got that appeared to work, which I got by using the Arduino IDE, didn't have the -D in them. I have no idea why.

[2019-06-28 10:47] ivankravets commented on #147
@pfeerick
[code]

[2019-06-28 11:08] noisymime commented on #147
The 64-bit binary from the Arduino IDE is at: http://downloads.arduino.cc/tools/avrdude-6.3.0-arduino17-x86_64-apple-darwin12.tar.bz2

Note that the PR to actually switch over to this hasn't been merged yet, so it might still be under testing. It works fine on the 10.14 and 10.15 machines I've tried it on though. I tried it on a completely vanilla, fresh install 10.14.5 (ie nothing from brew) and

[2019-06-28 11:13] ivankravets commented on #147
Thanks! Please re-run `pio update`. The package is deployed to our CDN.

[2019-06-28 11:13] #147 closed

[2019-06-28 11:43] pfeerick commented on #147
@ivankravets Oops? As noisymime indicated... I jumped the gun... the PR hasn't been committed yet, so it's not live... hence the wrong binary. :-/

It looks like that arduino/Arduino/pull/8976 also pushes a new version of avr-gcc also to stop OSX 10.15 moaning about it also. Just have to keep an eye on this one as there appears to be some slowdown on compile and upload ... although it's limited to

[2019-06-28 12:07] ivankravets commented on #147
@pfeerick it works for me on 10.13 and @noisymime reported the same for  10.14 and 10.15.

[2019-07-01 11:39] DaSimme commented on #21
Any progress on this?

There is the project for Arduino IDE: https://github.com/XMegaForArduino/arduino
But would be cool to just add it to platform.io

[2019-07-04 09:21] steelywing commented on #113
I change to `unsigned char` also work.

[code]

[code]

[2019-07-05 21:07] MCUdude commented on #152
@ivankravets could you look into this?

[2019-07-10 09:02] #152 closed

[2019-07-10 09:02] ivankravets commented on #152
Thanks! Please re-run `pio update`.

[2019-07-10 19:26] MCUdude commented on #152
Cool! Everything seems to work fine now!

Thanks!

[2019-07-11 08:03] MCUdude commented on #149
@ivankravets this issue can be closed now 👍

[2019-07-11 08:12] #149 closed

[2019-07-11 08:13] ivankravets commented on #149
Thanks!

[2019-07-11 08:40] MCUdude opened #153 "Extra script for setting fuses and burning bootloader"
Hi!

As a developer working with AVRs I feel like the last thing missing from PlatformIO now is the ability to set the correct fuse bits and burn the correct bootloader based on the information given in platformio.ini.

[MightyCore](https://github.com/MCUdude/MightyCore),  [MiniCore](https://github.com/MCUdude/MiniCore), and [MegaCore](https://github.com/MCUdude/MegaCore) (all supported by Platfor

[2019-07-11 08:51] MCUdude commented on #102
I'm sure this will work if you use ATmega328PB with MiniCore.
[https://github.com/MCUdude/MiniCore/blob/master/PlatformIO.md](https://github.com/MCUdude/MiniCore/blob/master/PlatformIO.md)

[2019-07-11 08:54] ivankravets commented on #102
Thanks, @MCUdude, great documentation! https://github.com/MCUdude/MiniCore/blob/master/PlatformIO.md

We will release this dev/platform tomorrow or on Monday.

[2019-07-11 08:54] #102 closed

[2019-07-11 08:57] ivankravets commented on #92
Resolved in https://github.com/platformio/platform-atmelavr/tree/develop/boards

[2019-07-11 08:57] #92 closed

[2019-07-11 08:59] ivankravets commented on #80
Resolved in https://github.com/platformio/platform-atmelavr/blob/develop/boards/at90pwm216.json

[2019-07-11 08:59] #80 closed

[2019-07-11 08:59] #84 closed

[2019-07-11 09:00] ivankravets commented on #106
Done in https://github.com/platformio/platform-atmelavr/blob/develop/boards/attiny13a.json

[2019-07-11 09:00] #106 closed

[2019-07-11 09:19] ivankravets commented on #153
Hi! It should not be difficult. The right place is extending this target https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L247.

P.S: I added "Configuration" section to http://docs.platformio.org/en/latest/frameworks/arduino.html and references to your manuals on how to use PlatformIO + Cores.

[2019-07-11 09:41] MCUdude commented on #153
Awesome! Now it should be fairly easy for the average user to use my cores through PlatformIO 👍

OK, so this wouldn't be implemented in a separate script, but rather the main build script instead?
So the commands would instead be `pio target_fuses` and `pio target_bootloader`? I want these commands to be available if `board`,` board_build.f_cpu`, and `board_upload.speed`is present.
If they are, th

[2019-07-11 09:42] ivankravets commented on #153
I think 2 targets are enough:

* `fuses`, which means setting fuses
* `bootloader`, which means burn bootloader?

[2019-07-11 10:06] MCUdude commented on #153
fuses, which means setting fuses
bootloader, which means burn bootloader?

Exactly. But we're not able to set the correct fuses and burn the correct bootloader file if we're missing information. Here's the idea:

#### Option 1: Only `boards` are present
defaults to `board_build.f_cpu=16000000L`
defaults to `board_upload.speed=115200`
defaults to `board_upload.uart_port=UART0`
defaults to `board_fu

[2019-07-11 10:36] MCUdude commented on #153
Maybe it's better if we're able to move everything fuse related into the manifest JSON files? Then there's no dependencies other then the bootloader files.

[2019-07-11 10:48] ivankravets commented on #153
We did this for some boards. Do you mean this https://github.com/platformio/platform-atmelavr/blob/develop/boards/uno.json#L31 ?

[2019-07-11 12:00] MCUdude commented on #153
Yes, but those fuses are fixed at BOD=2.7V, and external oscillator.
What I'd like to implement is something that somehow generates the correct fuse bits based on what platformio.ini contains. If you look at the boards.txt files for MightyCore for instance, this is solved by representing the fuses in binary. Because PlatformIO now has separate manifest files for every target (e.g one for 324A, 324

[2019-07-11 12:10] ivankravets commented on #153
If you can help with PR, it would be great! I hope you see how we are busy with generic PlatformIO Core, our IDE extensions. The time is limited for dev/platforms now :(

He-he :) Have a nice relaxing!

[2019-07-11 14:20] MCUdude commented on #153
I'll see what I can do. It will take some time though. And I'll probably ask some questions on the way if that's fine?

It's fully understandable, and I do not expect you do do this for me _at all_. It's just that I might need some input from you to have an OK starting point.

So for reference, how can I set fuses for the `uno` target?
`pio fuses` doesn't seem to work.

[2019-07-16 11:42] sstaub commented on #112
Hi Ivan, I should give you a ping when finished PIO v4.0

[2019-07-17 02:43] joeuser846 opened #154 "Change lib_archive default for Arduino framework projects"
The Arduino WiFi101 library fails at runtime when compiled with PIO.    I ported working Arduino Mega code from the Arduino IDE to PIO.  It compiled and linked without error.  However, the WiFi101 library hangs when trying to connect to the AP.  The same code works fine when compiled with the Arduino IDE or with Eclipse plus Sloeber plugin.

The reason is the PIO default setting of the lib_archive

[2019-07-17 15:10] mrarmyant commented on #112
Is this dead?

[2019-07-18 22:14] sstaub commented on #112
No, I hope Ivan will support the new AVRs soon.

[2019-07-19 20:27] ivankravets commented on #153
There is a new task in PlatformIO IDE for VSCode. Or, you can use PlatformIO CLI:
“$ pio run -t fuses

[2019-07-21 06:20] rkit1 opened #155 "This line breaks uploads using usbasp."
I kept getting this error while trying to upload using usbasp.

          0x38 != 0x3c

After removing this line locally the problem was fixed.
https://github.com/platformio/platform-atmelavr/blob/acca29b9b3864a869d8bfc7456915d2e4c421e8f/builder/main.py#L42

[2019-07-22 16:51] ivankravets commented on #155
Please use `pio run -t program` instead of `upload`.

[2019-07-22 16:51] #155 closed

[2019-07-23 22:01] MatCat opened #156 "usbasp doesn't work properly for ATTINY Core"
Trying to use usbasp as a programmer for certain attinys (I tried with ATTINY828) does not work, as the avrdude.conf supplied by the attiny core needs to be used.  Original thread: https://community.platformio.org/t/cant-seem-to-upload-using-usbasp-to-attiny828/8850

[2019-07-27 10:21] JonSilver commented on #83
I'm keen to seen support added for these very capable chips, particularly the attiny1617 and attiny817

[2019-07-27 16:07] SpenceKonde commented on #83
I would love to see my cores (megaTibyCore and ATTinyCore) supported by
PlatformIO, however I'm not familiar with it (I just use the arduino IDE).
What can I do to help this happen?

____________
Spence Konde
Azzy’S Electronics

New products! Check them out at tindie.com/stores/DrAzzy
GitHub: github.com/SpenceKonde
ATTinyCore: Arduino support for almost every ATTiny microcontroller
Contact: spence

[2019-07-28 13:22] liebman opened #157 "the "fuses" target always erases flash for attiny85 (and others)"
This is bad when your setting fuses to turn the reset pin to an IO pin. The '-e' option (erase) is included from two places:
1) The FUSESCMD uses UPLOADERFLAGS and from the board definition the upload.extra_flags are appended and for [attint85](https://github.com/platformio/platform-atmelavr/blob/develop/boards/attiny85.json#L14) for example this includes -e.  This happens in [BeforeUpload](https:

[2019-08-10 04:58] bryanjhv commented on #113
I guess it's NOT a Digistump thing, because that code compiles fine on Arduino IDE.
That made me look at root cause, it's because `atmelavr` sets other flags for compilation.

Specifically, `builder/frameworks/arduino.py` should read:
[code]

[2019-08-12 13:31] MCUdude opened #158 ""Please specify `upload_port`" error even though I'm uploading using USBasp"
Hi!

I go this strange error and AFAIK I've never seen this before.
I'm trying to upload code to an ATmega324PB (MightyCore) and have the following platformio.ini file

[code]

For uploading, I choose "Upload using Programmer" under env:MightyCore. After a short while I get this error:

[code]

Why do I have to specify `upload_port` when I'm using a USBasp programmer?

[2019-08-15 12:27] kassl-2007 opened #159 "add support for ATmegaxxM1-C1"

[2019-08-18 01:39] gocamiot commented on #141
Is this fixed yet?

[2019-08-19 10:09] ivankravets commented on #141
See https://github.com/platformio/platformio-pkg-framework-arduinoavr/issues/20

[2019-08-20 07:11] ivankravets opened #160 "Support for megaTinyCore"
https://github.com/SpenceKonde/megaTinyCore/issues/69

[2019-08-20 12:05] MCUdude commented on #158
@ivankravets maybe this issue should be moved to the [platformio-core repo](https://github.com/platformio/platformio-core) instead? Not sure if this is AVR related or not.

[2019-08-20 12:53] ivankravets commented on #158
Do use Program target?

[2019-08-20 13:02] MCUdude commented on #158
The output seen in my first post is when using "Upload using Programmer". When trying to upload by just clicking "Upload" I get this error:

[code]

So it seems like "Upload" accept a missing serial port, while "Upload using programmer" don't.

[2019-08-20 13:05] MCUdude commented on #158
Don't worry about the avrdude error above. I didn't have any hardware connected to my USBasp programmer, but that's not the issue 😉

[2019-08-20 14:03] #158 closed

[2019-08-20 14:04] ivankravets commented on #158
Wow, this is a bug! :( I've just fixed it. Please inform me when new releases of your cores will be available. We will do joined release.

[2019-08-20 14:08] MCUdude commented on #158
Awesome! PlatformIO is getting better every day 👍 Thank you for being so available and spending time helping out users like me!

AFAIK only MightyCore is affected by the SPI1 related bug we've discussed earlier. I'll keep you informed! It won't be long, promise 🙂

[2019-08-29 08:13] MCUdude commented on #153
I've been busy doing other things recently, but I just started looking at this again. To start out simple with a proof of concept I decided to stick with a separate `extra_script` for now. HOwever, I can't really get it to parse anything from platformio.ini.

Here's my platformio.ini file:
[code]

And here's the script I try to run using this command: `pio run --target testscript`
[code]

And here

[2019-08-29 09:38] ivankravets commented on #153
See docs for ConfigParser https://docs.python.org/2/library/configparser.html

You need to do checking before `.get(..)`. For example,
[code]

[2019-08-29 11:14] MCUdude commented on #153
Thanks! However, it turned out that the section I had entered was incorrect. It was supposed to be `env:env_custom_target` instead of `env_custom_target`.

Not I have something I can work with. I'm a complete Python noob, as has to Google for even the simplest things. But that's my problem 😉

For a large project, the platformio.ini file may contain several environments or `[env:myEnv]`. Let's say

[2019-08-29 11:36] ivankravets commented on #153
If you need to get the only option from a current environment, just use this shortcut: https://github.com/platformio/platformio-core/blob/develop/platformio/builder/tools/pioproject.py#L28

[code]

In this case, no need to use ConfigParser at all.

[2019-08-29 12:08] MCUdude commented on #153
Cool! Is it also possible to check if an option is present? This way I can make some options optional, like `uart` and ``bod`. As you already know, I want the script to be able to figure out the correct fuse bits and later set fuse bits + burn bootloader based on the contents in the platformio.ini file.

But let's say I have these two environments. I only want to run the extra_script for the first

[2019-08-29 18:52] lgut opened #161 "Uploading to Adafruit Flora does not work and breaks serial communication"
### Configuration
OS: Manjaro
Platformio Version: 4.0.2

### Description
Attempting to upload to the Flora board results in an error message, which I will post below. Afterwords the serial port which get created at /dev/ACM0 is only available for a brief window of time before disappearing. Using the Arduino IDE to upload in that brief window fixes all issues, but then I'm back to using the Arduino

[2019-08-30 07:39] Sn3akyP3t3 opened #162 "Feature Request - Upload using Programmer - Auto Negotiate Port"
**Feature Request**
  Currently PlatformIO auto detects the appropriate port when uploading code to a specified board such as the Arduino UNO.  Similarly I seems reasonable that the same port should be automatically detected for known boards when using the "Upload using Programmer" options.  I'm not sure how this is actually being done, but parsing the available known PIDs:VIDs should get a solid

[2019-08-30 08:09] ivankravets commented on #153
Just

[code]

A lot of ways:

- http://docs.platformio.org/en/latest/userguide/cmd_run.html#cmdoption-platformio-run-e
- http://docs.platformio.org/en/latest/projectconf/section_platformio.html#default-envs

P.S: `pio run -e env_custom_target -t testscript`

[2019-08-30 08:40] MCUdude commented on #153
Awesome! I'll see of I can implement this in a nice way.

At the moment I have a script that takes these parameters in the platformio.ini file:
[code]

And based on these parameters will calculate the correct `lfuse`, `hfuse` and `efuse` for all MightyCore, MiniCore, MegaCore, and MajorCore compatible microcontrollers. With all sub variants (P, PA, PB etc) that's 31 different targets!

[2019-08-30 11:18] MCUdude commented on #153
OK, so I now have the fuses (`lfuse`, `hfuse`, `efuse`) stored in a variable each. How do I invoke Avrdude?

I need to build a command similar to this:
[code]

[2019-08-30 13:10] MCUdude commented on #153
For reference, here's the script and ini file

[code]

[code]

[2019-09-02 10:13] MCUdude commented on #153
@ivankravets sorry for bothering you, but I'm just not skilled enough to figure out how to invoke Avrdude at this point., so I'm pretty much stuck 😞

[2019-09-02 10:16] ivankravets commented on #153
We would like to have this as a part of dev/platform. Is it ok for you? I think you provided a lot of valuable information. I propose to move this code to `builder/bootloader.py` and extend with `bootloader` target.

Could you post here a few commands how should look AVRdude command? How many of them we should call per 1 bootloader flashing?

[2019-09-02 10:59] MCUdude commented on #153
That would be great! What's important to me is that it's easy to use this functionality

I think it would be great if we had separate commands for setting fuses and burning bootloader.
For small ATtiny AVRs, a bootloader doesn't make sense, but fuses are still very important.

Here's a suggestion on how the fuses command could/should look like:
`pio target fuses`.
This would invoke the following A

[2019-09-02 11:43] MCUdude commented on #153
Another important feature would be to manually override the generated fuses. If you have a very specific need for a certain type of fuse setting, it should be possible to specify it in platformio.ini, like this. I can easily add this to the original script!

[code]

[2019-09-02 12:51] ivankravets commented on #153
@valeros will back soon here with the updates.

[2019-09-02 13:08] MCUdude commented on #153
Great! Looking forward to discussing these features with you. BTW I've updated the script I posted earlier. Not it supports overriding of lfuse, hfuse, and efuse in platformio.ini.

[2019-09-03 10:18] MCUdude commented on #153
OK, I've done some more work on the fuses script.
* It's now possible to control the EESAVE fuse bit for those who need this (Used in ATTinyCore for instance). Use `hardware.eesave` to control this fuse bit.
* Fix issue with some bitshifted fuse settings that caused the wrong fuses to be generated.
* Added automatic correction of capital/non-capital letters.
* ATtiny13/A support (Will add support

[2019-09-03 14:18] MagixInTheAir opened #164 "Cannot upload to Sparkfun arduino pro micro"
Here is the full verbose upload log : https://pastebin.com/zgVdAzFf

It is a simple "LED blink" demonstration program. platformio.ini is as follows :

    [env:sparkfun_promicro16]
    platform = atmelavr
    board = sparkfun_promicro16
    framework = arduino
    upload_port = /dev/ttyACM0

The board is detected in the device panel before trying to flash. After flashing, I have to physically unpl

[2019-09-03 17:16] 4ND3R50N commented on #112
Hello guys, how´s the status?

[2019-09-04 12:58] MCUdude commented on #153
@ivankravets would you like to show me how an Avrdude command in this script would look like?
While I have everything fresh in memory I'd like to continue working on this script while I'm waiting for @valeros to respond. The next step would be to add an Avrdude command to fuses() and start working on the bootloader part.

[2019-09-04 13:01] ivankravets commented on #153
Sorry for the delay :( @valeros is a little bit busy with something sweet 💣  for PlatformIO Core 😊

He will back soon. I think this part of code should help https://github.com/platformio/platform-atmelavr/blob/develop/builder/main.py#L191:L212

[2019-09-04 13:05] MCUdude commented on #153
I've tried this already but wasn't able to figure it out. Could you provide a somehow stripped-down version of this I can experiment with?

[2019-09-04 13:09] ivankravets commented on #153
[code]

[2019-09-04 13:15] MCUdude commented on #153
Nice, that works. Last question (for now 😉); how to I refer to the avrdude.conf file PlatformIO comes with? Obviously this won't work:

[code]

[2019-09-04 13:23] ivankravets commented on #153
[code]

P.S: I've not tested it :)

[2019-09-04 14:33] MCUdude commented on #153
It didn't work directly, but you provided enough information for me to figure it out.

Do you know why I'm getting single quotes and square brackets around the string when I'm trying to get `upload_flags` from platformio.ini?

if `upload_flags = -Pusb` is defined like this in platformio.ini, then `str(env.GetProjectOption("upload_flags"))` will return `['-Pusb']`, not `-Pusb` like I'm used to.

[2019-09-04 15:35] ivankravets commented on #153
`env.GetProjectOption("upload_flags")` - this is array. You can directly extend it with `cmd`.
[code]

[2019-09-04 15:36] ivankravets commented on #153
Maybe this will help
[code]

[2019-09-05 00:02] stonehippo commented on #83
@SpenceKonde ATTinyCore is already included in PlatformIO, it seems, though it looks like it the somewhat old 1.2.2 version.

As I understand it, adding megaTinyCore would require it to be included in `framework-arduinoavr`, which lives here: https://github.com/platformio/platformio-pkg-framework-arduinoavr. ATTinyCore is already there under the `core[tiny|tinymodern]` cores. I believe it would al

[2019-09-05 00:07] SpenceKonde commented on #83
Oh god, 1.2.2? Yeah, we should try to get ATTinyCore bumped up to 1.3.2 - I've changed and improved a lot since then....

Quite frankly, I know very little about PlatformIO, other than that people keep complaining that my core isn't supported there, or that bugs I fixed eons ago in ATTinyCore are still present there. I don't remember who set up ATTinyCore 1.2.2 on PlatformIO, but I know it wasn't

[2019-09-05 00:56] stonehippo commented on #83
@SpenceKonde looking at the commit, @ivankravets was the last one to update the ATTinyCore in PIO. I can take a look at making that update over in the framework repo and submit a PR to get it moved up to 1.3.2.

[2019-09-05 01:36] stonehippo commented on #83
Ok, I’ve made the pull request, following the pattern of the last update and using ATTinyCore 1.3.2 as the basis. @ivankravets can you point me to the best way to advise folks to test the PR with those updates?

[2019-09-05 04:25] SpenceKonde commented on #83
Wow! Thank you! <3

So now its just megaTinyCore

[2019-09-05 08:19] MCUdude commented on #153
@ivankravets thanks! With a little tweaking, I now have a functional script that will load the correct fuses to (almost) any AVR target based on parameters specified in platformio.ini. I decided to create a temporary repo where I host the script/project. I figured this would be easier for all of us. It's hosted here: https://github.com/MCUdude/pio-script

The next task would be to work on the boot

[2019-09-05 08:33] ivankravets commented on #153
Great! You are now supe experienced Python dev 😊

I see that Arduino Core keeps FUSES in boards.txt in `bootloader.***` section. Does it make sense for us to pre-fill boards/***.json with fuses data? Or, your dynamic way is better?

[2019-09-05 08:54] ivankravets commented on #83
Thanks for your PR! Everything is merged and deployed. Please re-test with upstream version of dev/platform http://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

As for the megaTinyCore, @stonehippo you can do similar PR. I would like to ask to use a new board ID notation. We plan to add soon support for starting a project from bare MCU/Device and from Development Kits. Dev/kits c

[2019-09-05 08:55] ivankravets commented on #160
Duplicate of https://github.com/platformio/platform-atmelavr/issues/83

[2019-09-05 08:55] #160 closed

[2019-09-05 08:56] MCUdude commented on #153
Haha, not at all! 😁 I feel like I'm writing a C program with a weird syntax. But hey, it does work!

bootloader.*** is to match the platform.txt file. The fuses are actually loaded as a separate command _before_ the actual bootloader, so it would actually make sense to rename it to fuses.*** in boards.txt and platform.txt. But it's just for looks, nothing critical.

If the script is watertight, th

[2019-09-05 10:33] pfeerick commented on #164
Looks like [a ModemManager issue](https://community.platformio.org/t/pro-micro-ubuntu-errors/9378/4).

Long story short,[ you should be able to follow the FAQ guide about installing the udev rules](http://docs.platformio.org/en/latest/faq.html#platformio-udev-rules), but instead of the link given in the documentation, use the latest version that's in the develop branch, as that includes the rule t

[2019-09-05 10:36] MagixInTheAir commented on #164
I had that ModemManager issue but probably used an old udev rule, will try thr solution ASAP. Anything could be done to make it work by default without needing to mess with udev rules ?

[2019-09-05 14:02] stonehippo commented on #83
Thanks for merging the PR, @ivankravets. I’ll do another for #160 as soon as I get a chance. Will also look at the new board ID notation, too.

[2019-09-06 05:11] pfeerick commented on #164
For modem manager stuff, udev rules are the best solution.

If you want to take it out of the equation by temporarily stoping it using `sudo systemctl stop ModemManager.service`, and if you don't need it at all (i.e. you don't use a 4G modem) disabling it from automatically starting at all using `sudo systemctl disable ModemManager.service`.

If you're using a clone or board that doesn't have a re

[2019-09-06 17:18] MCUdude commented on #153
@ivankravets @valeros So what will happen next? The script is pretty much finished. I'm sure you python gurus can improve the overall syntax to make it more elegant and easier to extend with support for other targets as well (@SpenceKonde's ATTinyCore is the first that comes to mind).

I'm not sure where you plan to place the Optiboot flash folder, so I've placed it under `/packages/framework-ardu

[2019-09-07 14:21] MagixInTheAir commented on #164
I disabled the ModemManager and still cannot make it work, error message is the exact same. I can't do electronics right now so I can't check the reset solution. What log could I check to find more about the error ?

[2019-09-07 16:40] stonehippo commented on #83
@SpenceKonde @ivankravets I’m looking at bring megaTinyCore over, but I noticed a couple of things that lead to some questions that might need to be addressed before the BSP will work on PlatformIO:

1. @SpenceKonde I noticed in your release notes that prior to release 1.0.1, the official Arduino megaAVR BSP needed to be installed to get compiler support, but that changed with 1.0.2+. Can you give

[2019-09-07 16:51] JonSilver commented on #83
Yes this series of AVRs requires UPDI and has no support for ISP.

[2019-09-07 17:25] stonehippo commented on #83
Thanks, @JonSilver. Looks like I can build a [UPDI programmer from one of the Pro Mini’s I have laying around](https://github.com/SpenceKonde/megaTinyCore/blob/master/MakeUPDIProgrammer.md).

I’m going to have to get a couple of these new MCUs so I can test anything I do. Have you got the breakouts for this up on Tindie, @SpenceKonde? I’m also going to get an Arduino Nano Every or Uno WiFi rev2, s

[2019-09-07 17:41] stonehippo commented on #83
Ok, got a couple of boards from @SpenceKonde. I’ll pick this up again when they arrive, I guess.

[2019-09-07 17:54] stonehippo commented on #83
@ivankravets FYI I tested the upstream update for ATTinyCore with an ATtiny85 and things are looking good with 4.2.0.

[2019-09-07 22:40] SpenceKonde commented on #83
megaTinyCore (and the other megaavr parts) requires 7.3.0 of the compiler; the recent versions of ATTinyCore handle this when installed via board manager (but not when installed manually - I'm not quite sure how to do that in a graceful way). I'm not sure how such custom tools are handled in platform IO - you can see the packages that get installed in the board manager json https://github.com/Spen

[2019-09-08 11:21] leonty commented on #111
@ivankravets Could you please, take a look at this. I ran into the same problem now in a year after report.

[2019-09-11 07:41] MCUdude commented on #112
Since the new megaavr-0 series has to be treated as a completely new architecture it's not as easy as just adding a new AVR board to the list. It requires a fair bit of work and testing. For this, a new platform repo should be made; `platform-megaavr`.

[2019-09-11 07:46] sstaub commented on #112
I agree.

[2019-09-11 18:09] DeviousPenguin commented on #111
Thanks for posting the workaround with the symlinks, it now seems to upload OK for me on MacOS.

[2019-09-12 14:19] xoxota99 opened #166 "Board Support request: Prusa3d printers"
Requesting board support for prusa 3D printers (EINSY , RAMBO). See https://raw.githubusercontent.com/prusa3d/Arduino_Boards/master/IDE_Board_Manager/package_prusa3d_index.json

[2019-09-13 13:43] liebman commented on #153
Please also look at #157 - need to make sure that flash is not always erased when setting fuses.  If one is setting the reset pin to an IO pin then erasing flash removes firmware loaded before and device is no longer programmable (without a HV programmer)....

[2019-09-13 13:56] MCUdude commented on #153
The script I've made does not support RSTDISABLE as of today, to prevent users from messing up.
As of today, the script is mostly ATmega related since I mostly work with ATmegas. Other fuse settings for ATtinys could/should be added in the future to make this script even more versatile.

But yeah, it's probably better to erase the flash memory when the bootloader is burned instead. I'll look into

[2019-09-13 13:57] ivankravets commented on #153
@MCUdude It's in our TODO :)

[2019-09-16 17:21] stonehippo commented on #83
Got the boards today (thanks, @SpenceKonde!). This next week is nuts, so I’ll most likely start to work on the megaTinyCore support next week.

[2019-09-17 13:48] valeros commented on #153
Hi @MCUdude ! Many thanks for preparing such a good basis for this feature. I've created [a special branch](https://github.com/platformio/platform-atmelavr/blob/feature/new-fuses-programming/builder/fuses.py) with the initial implementation based on the code snippet you posted above. So, most of the changes are stylistic, I also used the `mcu` field as the target (I hope that'll enable this featur

[2019-09-17 15:57] MCUdude commented on #153
Great cleanup! I didn't use the `mcu` field because I wasn't able to retrieve it fom the manifest files. Does this means the MCU paramter has to be defined in the ini file for this to work? Many that should't ne necessary most manifest files, as their board name acutually match the chip type. maybe you can make the mcu field optional by checking if the board name is a valid target for this script?

[2019-09-18 02:05] zaggash commented on #145
Got the same issue here but with an Aduino Mega and another library (fastled)
Exact same symptoms.

[2019-09-18 02:48] mrbaungartner commented on #145
Sadly the Platformio is not reliable.

[2019-09-18 12:12] valeros commented on #153
@MCUdude If there is no `mcu` field then we'll fall back to the board name, WDYT?
Earlier you mentioned that the `--t bootloader` and `--t fuses` targets can be used separately, but Arduino IDE executes these two steps as a single target, first it sets fuses and then uploads the bootloader. Can we use the fuses calculated by your script and then upload bootloader or we need to use the fuses specif

[2019-09-18 12:48] MCUdude commented on #153
I assume we're talking about the contents of platformio.ini. It sounds like a great idea! if build_board.mcu is missing, the fall back to using board instead.

You can safely use the fuses calculated in the script. If the fields are correct in platformio.ini, the fuses will take the bootloader space into account when calculating the fuses. The reason why I suggested adding this to two separate com

[2019-09-18 13:27] valeros commented on #153
Is there a reason why they set fuses before uploading the bootloader? Can we burn bootloader without setting the fuses?

Is it OK if calculated fuses for `uno` board differ from the fuses specified in `boards.txt`?

So binaries in your repository are fully compatible with bootloaders  for all boards shipped with Arduino IDE  (e.g `gemma`, `leonardo`, etc) ? In other words, will we be able to progr

[2019-09-18 13:51] MCUdude commented on #153
Let's say you want to want to change the upload speed. You can do this by only re-burn the bootloader. No need to re-set the same fuses again. But it's not a very big deal. It's to just have one command. It's also less confusing which parameter changes require new fuses and which require a new bootloader.

No, the ATmega32U4 found on e.g Leonardo uses a completely different bootloader, and we can'

[2019-09-18 15:07] MagixInTheAir commented on #164
Bump : tried it under windows too, same problem. This doesn't seem to be an issue related to the Linux side of things.

[2019-09-19 03:54] pfeerick commented on #164
Did you have any luck with trying the double reset before programming? The other thing that might be worth trying if you have an ISCP programmer (or use the ArduinoasISP sketch on another arduino), is to replace the bootloader with the current Arduino Micro bootloader... It partly depends on if you can get the board to program normally with the Arduino IDE, but not PlatformIO... if that's the case

[2019-09-19 10:10] valeros commented on #153
We'd like to allow users to program bootloaders even for development boards (at least users should be able to burn the bootloaders bundled with Arduino IDE).
So to sum up:
- `-t fuses` Since we don't want allow users to mess up with fuses, this target is only available for `MiniCore`, `MegaCore`, `MightyCore` (values calculated in your script)
- `-t bootloader` available for all boards. Fuses and

[2019-09-19 10:30] MCUdude commented on #153
Sounds good to me! unlock_bits and lock_bits are the same for my cores as well.

A few other things:
* How would you handle devices that have no efuse? In this case, it's ATmega8, ATmega16, ATmega32, ATmega8515, and ATmega8535.
* Can we manually override the fuses for special scenarios? This may be useful to some (for instance enabling JTAG). My original script supported this. But it has to be all

[2019-09-19 15:22] valeros commented on #153
I've updated scripts for fuses and bootloader. `efuse` is now optional (maybe other fuses should be also?). Here are some configuration examples:
[code]
At the moment, the logic assumes that your bootloaders are located here `framework-arduinoavr\bootloaders\optiboot_flash`

Am I missing something critical? Would be happy to hear your thoughts on this implementation. Thanks!

[2019-09-19 16:42] MCUdude commented on #153
_All_ AVRs have a high fuse and a low fuse (well, except the new megaavr-0 series, such as ATmega4809, but that's another story 😉), so no need to make other exceptions.

I'd like to test it to see if the generated fuse values are correct. Is there an easy way to install this "version" of pio core? And how do I run the script? With `pio run -t fuses` and `pio run -t bootloader`?

[2019-09-19 16:48] MCUdude commented on #153
I think I managed to install this version. When I run `pio run -t fuses` I get the following error:

[code]

upload_port is not needed when setting fuses and burning bootloader.

[2019-09-19 16:59] MCUdude commented on #153
Something isn't right. The script is able to get the specified F_CPU, but not `hardware.uart`
`board_upload.speed`, `hardware.oscillator`, `hardware.bod` and `hardware.eesave`.

No matter what I type in platformio.ini, is always uses the default values defined in the script.

[2019-09-19 17:17] valeros commented on #153
board_upload.speed, hardware.oscillator, hardware.bod and hardware.eesave

Strange, but I can't reproduce this behavior, this config works for me:
[code]

Wow, that's interesting, I just tried to reproduce the same logic as in Arduino IDE.
How does avrdude decide what device to program? What happens if two boards are connected simultaneously?

[2019-09-19 17:27] MCUdude commented on #153
aha! I forgot the `board_` prefix. It does work now!

How does avrdude decide what device to program? What happens if two boards are connected simultaneously?

If you want to use a programmer that shows up as a serial port, you'll have to specify it under `upload_flags` otherwise, Avrdude just searches for a specific USB VID and PID. In my case it's the USBasp.

[2019-09-19 18:20] MCUdude commented on #153
Actually, this has been a problem before too. Not long ago I reported issue #158, and @ivankravets provided a fix. Maybe he can provide an elegant solution to this as well?

[2019-09-19 18:40] valeros commented on #153
Thanks, I removed the dependency on upload port. Does it work better now?

[2019-09-19 19:11] valeros commented on #153
I see where the issue is. What flags should be enabled by default? Will it be OK if we leave only `-C avrdude.conf -c protocol -p target` and everything else user'll need to specify in `upload_flags` (including `-e`)?
[code]

[2019-09-19 19:17] MCUdude commented on #153
For reference, [here is the avrdude command](https://github.com/MCUdude/MightyCore/blob/ae98efb6dca23ab56fa3e154cde9317cae658064/avr/platform.txt#L117) used when setting fuses with MightyCore in Arduino IDE. I suggest having `-C{avrdude.conf}  -p{target} -c{protocol}`, and moving all extra flags to `upload_flags`. Is it OK for you if the fuses command doesn't have -e, while the bootloader command

[2019-09-19 19:34] valeros commented on #153
I think that's fine, anyway it's possible to add `-e` in upload flags. I've updated scripts, could you please retest? Thanks!

[2019-09-19 19:46] MCUdude commented on #153
Awesome, we're almost there! Fuses works perfectly now 🎉
However, `bootloader` was not able to find the correct file for ATmega1284P.

[code]

The reason for this is that chips with 64kB flash or more (+ AT90CAN32) have the smallest bootloader section of 1024 bytes. Since Optiboot occupies less than 512 bytes, it means that there's more space to play with. These targets are therefore compiled with

[2019-09-19 20:27] MCUdude commented on #153
Another thing I just found out. neither the fuses.py or the bootloader.py script is able to retrieve `upload_flags`. I tried adding some extra flags, but it was not picked up.

[2019-09-19 20:40] valeros commented on #153
Hm, works fine on my machine:
[code]
How do you add extra flags?

[2019-09-19 20:44] MCUdude commented on #153
I got a content mismatch error when I burned the bootloader, since the -e flag isn't built into the script (it should be). I tried adding -e to upload_flags, but noting happened when I tried to set the fuses again. It looks like this:

[code]

[2019-09-19 20:45] MCUdude commented on #153
is there a way to show the actual executed Avrdude command? That may help us troubleshoot

[2019-09-19 20:45] valeros commented on #153
You can try `--verbose`

[2019-09-19 20:48] MCUdude commented on #153
Oh, yeah! Here's the problem!

[code]

Note the quotes. They shouldn't be there. Also, it's common practive to add extra flags right after -c[programmer], and before the fuses.

[2019-09-19 21:53] valeros commented on #153
Thanks, updated, now should look better.

So the solution here is to place each new flag in a new line:
[code]

[2019-09-20 06:04] MCUdude commented on #153
So there is no way of making it work when everything is on one line? IMO having everything on one like is "nicer to look at", and it's suddenly another rule one have to take into account? It would be awesome if it supported both everything on the same line and separated with newlines. I managed to do this in my script though.

[2019-09-20 08:56] valeros commented on #153
Maybe it's a good idea to be consistent with [the official documentation](http://docs.platformio.org/en/latest/projectconf/section_env_upload.html#upload-flags) ?

[2019-09-20 09:30] MCUdude commented on #153
Ah, sorry! Let's keep it similar to the official documentation.

[2019-09-20 09:55] valeros commented on #153
Have you tried the latest revision? Now it should be able to find binaries for `BIGBOOT` targets.

[2019-09-20 10:27] MCUdude commented on #153
I'm at work now, so I don't have any suited hardware to test with. I will try again when I get home. So now the script accepts *.hex and *_BIGBOOT.hex as file suffix?

[2019-09-20 14:55] liebman commented on #153
Problem:  with this branch I can no longer burn fuses for attiny85.  platformio.ini:
[code]
and fuses.py used to remove the -e option when burning fuses as I need to set the reset pin to an IO so I upload the firmware then burn fuses:
[code]
Result:
[code]

[2019-09-20 16:54] MCUdude commented on #153
@valeros Now It's able to find BIGBOOT bootloaders, but it now can't find "regular" ones:

[code]

Another thing. I'm not able to manually override fuses.
Here is my current configuration
[code]

And here is the output:
[code]

[2019-09-20 17:12] valeros commented on #153
Sorry, forget to mention, `hfuse, lfuse, efuses` are now `high_fuse, low_fuse, extended_fuses` (just to be consistent with Arduino IDE. Is it OK or it'd better to keep `hfuse, lfuse, efuse`?)

Maybe becuase there is no suitable regular one for your config? The only one available for `atmega32` is `optiboot_flash_atmega32_UART0_9600_1000000L.hex`. But I agree the error message is a bit misleading.

[2019-09-20 18:11] valeros commented on #153
@liebman Thanks for reporting. `-e` flag is now excluded from default set of flags for `fuses` target. Could you please pull the latest changes and try again?
@MCUdude I've reverted back `hfuse, lfuse, efuse` values.

[2019-09-20 18:16] MCUdude commented on #153
Sorry, my bad. You're absolutely right.

Awesome!

[2019-09-20 18:29] liebman commented on #153
@valeros yes, fuses run correctly again.  Thanks!

[2019-09-20 20:14] liebman commented on #153
I see that its now passing `-Ulock:w:0x3f:m` and was not before.  Looks like `0x3f` is a safe value but I was wondering where that value is coming from?  A global default?

[2019-09-20 20:38] MCUdude commented on #153
Used by basically all AVRs that uses a bootloader. 0x3F is totally fine if you don't need to protect the content of the flash and eeprom memory.

[2019-09-20 21:21] liebman commented on #153
@valeros I get this warning from avrdude:
[code]
So at least for attiny85 the default value should be 0xff.  Or maybe only supply the -Ulock option for some types.

[2019-09-20 22:15] liebman opened #167 "RFC - use various core packages drectly instead of platformio-pkg-framework-arduinoavr"
This is meant to start a discussion.

Has there been any thought about using the various cores (tiny, Mighty, Mega, Mini, etc) directly rather than having to copy files from the various repos or tar-files into `platformio-pkg-framework-arduinoavr`? This would certainly make updates cleaner and allow overriding each package easily in `platformio.ini` files.

[2019-09-21 08:01] MCUdude commented on #153
@valeros I was playing around with the script last night but had serious issues getting the script to work properly. Every now and then I got a mismatch error on the lock bits, and the script wouldn't continue.

After some time I realized that you can't set the lock bits to 0x3F without also erasing the flash memory with the `-e` flag. We still have use use lockbits, because 0x0F will protect the

[2019-09-21 13:15] ngkz commented on #157
`"extra_flags": "-e"` also causes an issue that uploadeep target erases flash.

[2019-09-24 09:26] valeros commented on #153
Unfortunately we cannot only focus on individual targets. Users should be able to program at least fuses (fuse programming was already in previous versions of the platform, so we should try not to break it).

@liebman  @MCUdude So what are your recommendations on this? Do we need to add `-e` to default flags only for targets with bootloader (is there a list of this targets)? What lock bits to use?

[2019-09-24 09:33] MCUdude commented on #153
My recommendation is that we add 0x0F + `-e` to all targets that has a bootloader area. We can easily make that list. (ATmega88/88P + all ATtinys)

[2019-09-24 14:45] liebman commented on #153
@MCUdude not all ATtinys have a bootloader area, ATtinyX5 for instance...

[2019-10-01 10:02] valeros commented on #153
@MCUdude So what are our next steps? Can you prepare the list of targets that require 0xff?

[2019-10-01 10:16] MCUdude commented on #153
@valeros I can do that!

[2019-10-02 07:50] MCUdude commented on #153
@valeros here's a list of all AVRs (I'm aware of) that require 0xff as lock bit

[code]

Note that I've not added legacy parts such as the ATtiny15.

[2019-10-02 08:59] Klasskampen opened #169 "Support for Industrial Shields Boards Ardbox/M-duino"
Support for the Ardbox and M-duino boards from Industrial Shields would be appreciated.
[Industrial Shields web page](https://www.industrialshields.com/)

[2019-10-02 09:04] exothink opened #170 "Support TTGO XI 8F328 dev board. AVR on steroids."
I would like PIO support for this board.

[2019-10-03 12:49] valeros commented on #153
@MCUdude Thanks, I've made small changes to the fuses target, now it should be able to detect targets without bootloader. Did I miss anything? Could you please retest? Thanks!

[2019-10-03 13:39] MCUdude commented on #153
@valeros just tried it on an ATmega1284P and an ATmega48P. Works great with both!

Just as expected, when running the `fuses` command when the 1284P is the target, the correct efuse is calculated and the `-e` flag is automatically added to the Avrdude command.

When running the `fuses` command on the 48P, the efuse is set to 0xff and no `-e` flag is added to the Avrdude command. Perfect!

[2019-10-03 13:43] MCUdude commented on #153
So what's next? We now have a good foundation we later can add new targets to. As you already know, I've not added support for _all_ ATtinys. I think the next step is to add support for @SpenceKonde's [ATTinyCore](https://github.com/SpenceKonde/ATTinyCore), which covers pretty much all ATtinys except ATtiny13.

[2019-10-03 14:34] MCUdude commented on #153
But I think the scripts are ready to be released with MightyCore, MiniCore and MegaCore support, along with some nice documentation how how to setup platformio.ini properly to generate the right fuse values.

[2019-10-04 12:03] valeros commented on #153
Would be awesome, if you could you prepare some initial page with basic information that is important in your opinion (like the description of parameters used in calculations, their default values, etc)? BTW, did you try the bootloader target? Does it work as expected?

[2019-10-04 12:32] MCUdude commented on #153
I did for the 1284P, and it worked as expected. If you want I can provide some information about the different parameters and what they do. Is it OK if I post it here? I'm also not a native English speaker or writer, so someone should definitely read through what I've written to correct the worst grammar mistakes.

[2019-10-07 09:35] MCUdude commented on #153
@valeos @ivankravets here's a base. Something should also be added about `upload_protocol` and `upload_flags` if not already in the documentation.

`board_build.f_cpu = 16000000L`
Specifies the clock frequencies in [Hz]. Defaults to `16000000L` if not specified.
Is used to determine what bootloader file to load and what oscillator option to choose.
A capital L has to be added to the end of the fre

[2019-10-11 06:41] trombik commented on #134
@ivankravets please consider to document the build and upload process to bintray so that users can build the tools. recent FreeBSD does not have `libelf.so.1`, which is required by `avrdude` provided by platformio. as such, even the old one does not work.

a workaround for users: install `devel/avrdude` from the ports or install the package. replace the binary from platformio with it.

[code]

[2019-10-13 08:47] ivankravets commented on #112
@valeros see a progress https://community.platformio.org/t/support-for-megaavr-0-series/8064/13

[2019-10-22 10:16] dontsovcmc opened #171 "VSCode Extension compile error: incorrect attiny85 frequency"
- [ ] **PlatformIO IDE extension for VSCode**.

### Configuration

**Operating system**:
MacOS

**PlatformIO Version** (`platformio --version`):
4.0.3

### Description of problem

Failed to build project after update..

#### Steps to Reproduce

1. Open https://github.com/dontsovcmc/waterius/tree/master/Attiny85 in VSCode
2. Compile

### Actual Results
[code]

### If problems with PlatformIO Build

[2019-10-24 15:42] sphereinabox opened #172 "Upload & Monitor and Test find wrong serial port for Arduino Leonardo, others"
### Configuration

**Windows 10, also OS X 10.14**:

**PlatformIO Version** (`platformio --version`): PlatformIO, version 4.1.0b3

### Description of problem
"Upload & Monitor" and "Test" will open the wrong serial port on devices such as the Arduino Leonardo or Adafruit M0 & M4 devices that use a software USB interface that re-enumerates after uploading a new program.

#### Steps to Reproduce

1.

[2019-10-24 15:42] ivankravets commented on #172
Does classic uploading work as expected?

[2019-10-25 03:46] sphereinabox commented on #172
Yeah, Upload alone works fine, and Monitor alone works fine, there's just the race condition when trying to do one then quickly do the other on these devices that do software USB serial.

I think get_test_port() for example should:
 - If there is a test_port or monitor_port configured, then use the retry & timeout logic instead of immediately trying and failing to open that port after uploading co

[2019-10-25 14:52] Kashouryo commented on #170
LGT8F328P is not a standardised AVR micro controller; it's more like a clone. Here is the unofficial Arduino support file https://github.com/LGTMCU/Larduino_HSP for the LGT8F328P.

[2019-11-03 11:10] MCUdude commented on #153
@valeros How is the implementation going?

I have a feature I'd like to discuss with you guys before I start working on it.
[MightyCore](https://github.com(MCUdude/MightyCore) have three different pinouts; *Standard*, *Bobuino* and *Sanguino*. Standard and Sanguino are very similar, but the Bobuino pinout is supposed to be *Arduino Uno* compatible. The problem is that the Bobuino pinout uses the e

[2019-11-04 09:19] valeros commented on #153
Hi @MCUdude ! The scripts are merged but not yet released. It shouldn't be hard to add a new part to the name of bootloader and reupload framework packages with new bootloader names. What does the pin number depend on? Is it MCU specific or the pin number only depends on `variant` field? So for `Standard` it will be `B0` and for `Bobuino` it will be `B7`?

[2019-11-04 09:44] MCUdude commented on #153
It depends on both really. When using MiniCore the default LED pin is B5, which corresponds to digital pin 13.

Here's a complete list

| Core            | Pinout                            | LED pin |
|--------------|---------------------------|----------|
| MightyCore | Standard                       | B0          |
| MightyCore | Sanguino                      | B0          |
| MightyCore | Bobu

[2019-11-12 00:52] pfeerick commented on #171
Sorry, can't reproduce that with either the code from that repo from either the 21st of Oct, or the current version of it, with either the stock or the platformio.ini configuration you supplied. Is this still not working for you @dontsovcmc? The first error `<command-line>:0:16: error: token ";" is not valid in preprocessor expressions` is hinting that there is a `;` where it shouldn't be, which i

[2019-11-12 01:07] pfeerick opened #173 "upload_protocol inconsistency in behaviour depending on board"
Depending on what board you use, it seems platformio's logic *expects* `upload_port` to be set, and be a port it can access (on linux, at least).

i.e. With the following, the uno env will insist on upload_port being set, but the attiny85 env won't. If `upload_port = custom` is set for the uno, it will fail with `** [upload] could not open port custom: [Errno 2] No such file or directory: 'custom'

[2019-11-12 01:10] dontsovcmc commented on #171
@pfeerick thanks for remember!
It was this error: https://github.com/platformio/platformio-core/issues/3213
I wrote incorrect platformio.ini file in issuu: without comments which were a reason of error.

[2019-11-12 01:10] #171 closed

[2019-11-12 01:11] pfeerick opened #174 "FR: `upload_port = usb`"
As a follow on to https://github.com/platformio/platform-atmelavr/issues/173, a feature request:

Can `upload_port` take `usb` as an option, so that instead of setting `upload_flags = -Pusb` to set the port, `upload_flags = usb` can be used?

It looks like it would fit in after the test for `custom` as another state:
https://github.com/platformio/platform-atmelavr/blob/0c0972b8e5216cc4e87b4292dbe4

[2019-11-12 01:13] pfeerick commented on #171
Oh, nasty one... I remember seeing that issue... nice to know it's fixed! Thanks! :)

[2019-11-12 15:18] andy-bren commented on #35
For the record, I have just experienced the same problem on a clean installation of VS Code + Platform IO v.4.10 (installed using the VS Code Extensions interface) with an Arduino Pro Micro (on Windows 10).

@ivankravets instructions above work great, however it took me a couple hours to track this issue down. Maybe some proactive work to prevent this for other users might be good.

[2019-11-18 00:40] tablatronix commented on #158
How do I pull this change in, it is not yet release right?

[2019-11-18 01:44] tablatronix commented on #158
I think I found it
https://docs.platformio.org/en/latest/platforms/atmelavr.html#upstream

[2019-11-18 17:02] eddnshoulders commented on #47
Just in case this has been forgotten or not marked as closed on the last fix, I've just had this same problem with arduino framework 4.1.2 on core 4.1.0.

Thanks to those above for providing a workaround.

[2019-11-18 18:40] cebas commented on #95
Hi @ivankravets , I would love to be able to debug on my arduino uno. Is there any advance on this feature?
Thanks

[2019-11-25 12:13] Hawxxer opened #175 "Compiling Error circuitplay32u4"
I cant compile the circuitplay32u4 with it's native library [Adafruit_Circuit_Playground](https://github.com/adafruit/Adafruit_CircuitPlayground) from Adafruit. Looks like the pins_arduino.h is outdated. It says "
lib\Adafruit_CircuitPlayground\utility\IRLibRecvPCI.cpp:32:36: error: 'digitalPinToInterrupt' was not declared in this scope
Compiling .pio\build\circuitplay_classic\FrameworkArduino\Har

[2019-11-25 12:13] #175 closed

[2019-11-25 12:35] ivankravets commented on #153
Thanks for the amazing work!

2.0.0 is out! https://github.com/platformio/platform-atmelavr/releases/tag/v2.0.0

[2019-11-25 12:35] #153 closed

[2019-11-25 14:28] MCUdude commented on #153
Thank you for letting enthusiasts like me contribute to this great project. I will update the PlatformIO readme doc for MightyCore, MegaCore, and MiniCore to reflect these new changes.

[2019-11-26 09:16] MCUdude opened #176 "Not able to use custom board variants with MightyCore in 2.0.0"
Hi!
I just updated to `platform-atmelavr 2.0.0`, and I'm having a hard time building my project.

The project is designed around an ATmega324PB, but I'm getting an error saying that pins_arduino.h cannot be found. It's not related to the 324PB in any way, it happens to all targets.

FYI I have this line added to platformio.ini

[code]

However, if I remove this line it builds like normal. This mea

[2019-11-26 12:57] MCUdude commented on #176
Sorry, I think I'm the problem here, not the code.

Apparently the variants have changed names. The following lines do work.

[code]

[code]

[code]

[2019-11-26 13:02] #176 closed

[2019-11-26 16:24] Velkamhell97 opened #177 "Dragino gateways (arduino yun) support"
I try to connect the dragino gateway [LG01-P](https://www.dragino.com/downloads/downloads/UserManual/LG01_LoRa_Gateway_User_Manual_v1.8.pdf) that have an arduino yun microcontroller but in the link above in the page 13, shows that its necesary to add a board url in the arduino preferences (see images) to find the board in the board list, so i dont know that this is possible in platformio.

![Board

[2019-11-28 14:34] MCUdude opened #178 "Difficulties when burning bootloader with Arduino as ISP (Mini/Mighty/MegaCore)"
See [MiniCore #115](https://github.com/MCUdude/MiniCore/issues/115) for more details.

It's impossible to set the upload baud rate for the bootloader when burning bootloader with Arduino as ISP. this is because ArduinoISP relies on `upload_speed = 19200` to work. However, when this is specified,  a bootloader with a baud rate of 19200 is always selected, no matter what `board_upload.speed` is defi

[2019-12-03 04:16] brown131 opened #179 "Support Generic ATTiny1604/ATTiny804/ATTiny1614/ATTiny814 Boards"
Surprisingly in the long list of supported Atmel chips, these chips not currently supported.

[2019-12-06 15:24] jamesmyatt commented on #179
Duplicate of #83

[2019-12-11 03:59] Deneteus commented on #166
@ivankravets Do we know this request is at the moment? I want to be able to use Platformio for building Prusa Mk3 firmware.

[2019-12-15 15:35] elguiri commented on #172
If anybody else has this issue prior to a fix, there is a workaround described here...
https://community.platformio.org/t/any-way-to-configure-timeout-for-upload-monitor/3812

[2019-12-28 22:57] kevinboards commented on #169
Hey, looking to get the Industrial Shields boards going on platformio. I'm not sure where to start.
Based on Arduino Leonardo and Mega2560, also some references to esp32 depending on the board.
Their website : https://www.industrialshields.com/
Their board reference for arduino IDE  http://apps.industrialshields.com/main/arduino/boards/package_industrialshields_index.json

The package that comes w

[2020-01-03 22:17] lloydjatkinson commented on #53
Considering its now 2020 and the popularity of the 328/Arduino, I'm quite surprised debugging isn't supported yet. Is this being considered or not?

[2020-01-06 01:58] kdlslyv commented on #113
just fyi, as of 2020-01-06, still had to apply the proposed fix by @bryanjhv manually to work with DigiSpark USB.

[2020-01-06 16:37] chessboy opened #181 "Support for NyBoard from Petoi for use with Open Cat"
- [ ] **Feature Request**.
      Support for board types:

      NyBoard-0-1
      - https://github.com/PetoiCamp/OpenCat/blob/master/Resources/NyBoard/NyBoardV0_1.pdf

      NyBoard-0-2
      - https://github.com/PetoiCamp/OpenCat/blob/master/Resources/NyBoard/NyBoardV0_2.pdf

and their libraries - thanks!
------------------------------------------------------------------

### Configuration

###

[2020-01-09 04:24] pfeerick opened #182 "Update Sanguino variants/pins_arduino.h"
The `pins_arduino.h` included in the `framework-arduinoavr` package for the sanguino variant is a wee bit outdated - and doesn't include changes from Dec 2016!

https://github.com/Lauszus/Sanguino/blob/master/variants/sanguino/pins_arduino.h

[2020-01-09 04:27] pfeerick commented on #165
This was implemented in https://github.com/platformio/platform-atmelavr/releases/tag/v2.0.0

[2020-01-11 22:37] dj-foxxy opened #183 "Add avr-strip to toolchain"
My program was too large to upload. Running `avr-strip` on `firmware.elf` followed by the standard `avr-objcopy`, reduced the program size by 50% and I could then upload. Should `avr-strip` be a standard step in the toolchain?

[2020-01-21 11:30] cybercatgurrl opened #184 "Setting fuses does not work for users with paths with spaces in their name."
Running Set Fuses with custom fuses in the ini file or any variant task that also sets fuses results in this.
`Building in release mode
Selected fuses: [lfuse = 0xE1, hfuse = 0xDD]
avrdude -p attiny85 -C C:\Users\Chloe Stars\.platformio\packages\tool-avrdude\avrdude.conf -c usbtiny -Ulock:w:0xff:m -Uhfuse:w:0xDD:m -Ulfuse:w:0xE1:m
avrdude: can't open config file "C:\Users\Chloe": No such file or d

[2020-01-22 14:25] t-oster commented on #101
I still have this issue. I am using platformio on arch linux within visual studio code. It installs this version:
[code]

[2020-01-22 18:18] Jarovit commented on #169
As far as I know, only Arduino IDE is supported by Industrial Shields at the moment.

[2020-01-22 18:22] kevinboards commented on #169
That's right. I'm trying to figure out how to help in getting industrial shields  included in the platformio ide.

[2020-02-04 22:44] stif commented on #83
Hi Guys, any news on this? I am also interested in the new ATTinys but would love to keep on working with platformIO!
Cheers, Stif

[2020-02-04 22:57] stonehippo commented on #83
Hi @stif, I've been wrapped in some other work, but have been planning to get back to adding megaTinyCore. I'll take a whack at it this weekend.

[2020-02-05 06:27] iosengineer commented on #83
Ditto from me. I guess I'll be in the ArduinoIDE for the moment... (and wrecking my nice folder structure).